[2021-03-16 15:42] erikarenhill opened #5 "Timezone/Date format"
Hi, thanks for this awesome project.

I found a couple of issues, as I'm based in Sweden:

Docs are missing for environment variable 'TZ'
Also it would be nice to parametrize the date format, or send the unix timestamp/UTC

[2021-03-16 20:17] jakowenko commented on #5
Thank you for the kind words! If you'd like to see any other features added, please let me know.

Good catch on the `TZ` option. I'll get that included in the docs for reference. You should be able to pass it now when the container starts. The default is `America/Detroit`, but I'll probably change that to `UTC` once the other changes go in.

I can add in the option for a date format too. Are you t

[2021-03-17 04:09] jakowenko commented on #5
I've pushed a new build that allows you to configure the time zone and time format and included the defaults in the [README](https://github.com/jakowenko/double-take#options). Let me know if this resolves your issue.

[2021-03-17 09:28] erikarenhill commented on #5
Hi @jakowenko  and thanks for such a quick fix, I tested it and just have one minor thing to give feedback for.

I think it might be a good idea to use [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) as default format, at least when using  UTC as default TZ.

Easiest way to incorporate this I believe is to use 'YYYY-MM-DD[T]hh:mm:ss[Z]' as default format (or something like that), as that would g

[2021-03-17 10:35] erikarenhill opened #7 "docs: Node-Red example / save match to home assistant media-directory"
It would be very nice with a documented example how to send notifications with attached photo as shown in the github readme.
From what I understand you can fetch the image from {FRIGATE_URL}/clips/{msg.payload.camera}/{msg.payload.id}.jpg is this the preferred way, or do you store the photo to home assistant first somehow?

[2021-03-17 20:00] jakowenko commented on #5
I think using the ISO 8601 format definitely makes sense for UTC and probably just making it the default like you said. If the user wants to change this they would then have the ability to with the `TIME_FORMAT` variable.

Future proofing MQTT and using the `timestamp` property makes sense to me! I'll do a little more reading on this to make sure I understand. I didn't realize MQTT read that value

[2021-03-17 20:16] jakowenko commented on #7
I will prioritize getting the README updated with more complete examples.

Any time a match is found the image is saved to this path `./storage/matches/{name}/{id}-{type}.jpg` and they are served from the API via `http://localhost:{PORT}/storage/matches/{name}/{id}-{type}.jpg`

If the image came from Frigate then the type would either be `latest` or `snapshot` depending on which image it found a m

[2021-03-17 22:36] erikarenhill commented on #5
docker logs output do show the correct linebreaks, but the messages.log contains the \n by text
I use a Debian 10 LXC running on top of proxmox with docker-ce 19.03.15. Not a big deal though :)

[2021-03-17 23:33] jakowenko commented on #5
Thanks for the clarification. I'll see if I can get that fixed.

[2021-03-18 06:02] jakowenko commented on #5
Pushed some updates that should include the changes you suggested if you want to check them out.

If no `DATE_TIME_FORMAT` is passed then it will default to ISO 8601 and supports [token-based formatting](https://moment.github.io/luxon/docs/manual/formatting.html#table-of-tokens) if someone would like to format it differently.

[2021-03-18 09:06] erikarenhill commented on #5
Awesome! I'm running v0.0.17 now and its working like a charm.

[2021-03-18 09:06] #5 closed

[2021-03-18 09:39] erikarenhill opened #9 "feat: webgui for training unmatched/matched faces"
This is a pretty big feature, but I wanted to share the idea and I might be able to help out a bit as well as I'm a web developer myself, anyhow, here's the idea described on an epic level

It would be awesome to have a web interface for browsing the files stored under storage/matches to enable you to "verify" or "dismiss" a matched photo, if you verify a photo it will be added to the training dat

[2021-03-19 16:08] jakowenko commented on #9
I love these ideas and would love to collaborate with you on them. What's the best way to contact you?

[2021-03-20 21:43] thundergreen opened #12 "Connection errors leads frigate to fail"
I am not 100% sure but i face an issue since using this APP

https://github.com/blakeblackshear/frigate/discussions/853

you might have a look at this? I think it's related with snapshots and connection not properly closed. I am not a progrmmer but since i installed you app this issue occurs :(

[2021-03-21 13:54] erikarenhill commented on #9
Maybe create discussion- issues here on GitHub as a starter? Especially as we're in different timezones it would be to have quite async anyway. Otherwise discord/mail?

[2021-03-22 04:40] jakowenko commented on #12
I have see this a few times on my local setup, but since the error resides on the Frigate side, there's not a lot I can do. I haven't had any Frigate crashes though for the last few days and when one does occur `docker restart frigate` resolves the issue.

Double Take does add up to a `0 - 1` second delay before each Frigate API request, to help reduce hitting the API simultaneously.

I've also up

[2021-03-22 04:40] #12 closed

[2021-03-23 08:15] erikarenhill commented on #9
Do you think it would be feasible to add a web-frontend in a separate docker so it'll be optional to use it, or should it be built into the same container-image? Maybe it adds a bit too much to the complexity to use multiple containers right now.

Regarding technology for a possible frontend, what's your preference? I might be able to help out a bit to set up a react-based frontend for it if you t

[2021-03-23 10:39] erikarenhill opened #15 "bug: require restart of server to be able to train images from storage"
If you add some images to storage/train/TAG and try to call the api /train/add/TAG it doesn't pick up any files until restarting the application. Have not checked the code but it seems like it's only scanning/adding the files from that directory to the database as untrained when the application starts up, maybe it should do a scan for new files so we can add new files meanwhile the application is

[2021-03-24 03:33] jakowenko commented on #15
You're right, this is a known issue and was something I overlooked when I worked on the feature. I wonder if it makes sense to implement some sort of file watcher like [chokidar](https://www.npmjs.com/package/chokidar) or to just rescan the folder when the `/train` route is hit. Do you have any opinions?

[2021-03-24 07:13] erikarenhill commented on #15
I was thinking a rescan of the folder on the API hit is enough as it shouldnt be hit so often to cause problems, at least that's a starter?

My initial thought from another point of view was actually that the train/add endpoint could actually delete the files after they have been trained, that way no database/file scan is needed at all. Does that make sense? Or do you want to keep the training dat

[2021-03-24 13:47] jakowenko commented on #15
Rescanning when the API hits is what I was leaning towards for now too. That should be easy to fix and get in.

My only logic in keeping the training files is that it makes it easy to retrain in the future or if the user ends up using a new detector, all those images are still available on the disk for the user to easily queue back up.

[2021-03-25 04:19] #15 closed

[2021-03-25 09:14] erikarenhill commented on #9
Continuing the discussion from https://github.com/jakowenko/double-take/pull/14 yes I think saving all faces that doesnt match is what at least I personally would prefer

[2021-03-29 02:43] jakowenko commented on #9
@erikarenhill I've pushed a beta build that includes the ability to pass `SAVE_UNMATCHED: 'true'` which will save matches to `/.storage/unmatched`. I'm not pruning these images yet, but it's something I plan on adding to prevent that folder from filling up.

[2021-03-29 02:55] jakowenko commented on #9
@erikarenhill I've pushed a beta image that includes the ability to pass `SAVE_UNKNOWN: 'true'` which will save unknown faces to `/.storage/matched/unknown`. I'm not purging these images yet, but it's something I plan on adding to prevent that folder from filling up.

[2021-03-29 03:29] jakowenko commented on #9
I haven't worked with React, but do have experience in Vue. Any help is appreciated, but if it's in React, I probably won't be able to maintain it unless we keep it pretty simple for now.

[2021-03-29 07:02] erikarenhill commented on #9
cool, I'm running the beta-image now with `SAVE_UNKNOWN: 'true'` and we'll see how that turns out

[2021-03-29 13:04] erikarenhill opened #18 "use snapshot image from the mqqt message instead of fetching from the api"
Currently the snapshot is fetched from frigate by posting to 0.0.0.0:PORT/recognize from the mqtt client, but since frigate publishes the snapshots binary image with the mqtt message maybe we could get better performance by just using the data that we already got with the message?

Or are there any other reasons why to fetch the image again with axios, maybe I'm missing something.

[2021-03-29 13:15] erikarenhill commented on #18
this would require to fetch FRIGATE/api/config to see which cameras that's available at start/some polling interval, and then subscribe to the frigate/{CAMERA}/person event which is the event which contains the snapshot data

[2021-03-30 06:37] jakowenko commented on #9
I added a `/train/manage` route to the beta build that lists all images from the `/matches` directory. You can either delete the image or move it to a `/train/:name` folder for training.

I figured this was a pretty good solution for now as I've been using my matched images to retrain the model and it also gives you the ability to use the `unknown` images as well. They're all displayed on this pag

[2021-03-30 08:24] erikarenhill commented on #9
This is a great starter, and simple to use! Really speed things up to train images.

I found a small bug, when moving a file from matches to training it doesn't check if the directory exists first, e.g. I have deleted my files in train/* so when I try to add an image for training for person X it tries to move it to train/X/FILENAME where X does not exist so it fails.

[2021-03-30 20:09] jakowenko commented on #9
Good catch on the dropdown folders, I was returning the folders from the `/matches` directory instead of `/train`. I just pushed up a fix to address this.

I'd like to add an input box like you suggested for users who don't already have a folder in `/train` and possibly the option to bulk move/delete these images, so you don't have to go one by one.

Good question on the recommended resolution. Do

[2021-03-31 06:56] erikarenhill commented on #9
I read a statement from one of the CompreFace developers on reddit (cant find the source now though) that the neural network at least in CompreFace use a resolution of 160x160 so the face should at least be of that size, but the higher the better up to about 640x480 as maximum if I recall.

Can't find anything about deepstack recommendations, but maybe we can add an environment variable with a dim

[2021-03-31 07:14] jakowenko commented on #9
I like the idea of the environment variable so the user can control that. I do get false positives from time to time with my sister, so using better resolution images should definitely help with that. I'm sure right now I have a lot of low resolution images which could be causing that. Good thing there's a quick way to remove all those and retrain!

I managed to get the `train/manage` page updated

[2021-03-31 07:57] erikarenhill commented on #9
I got one Reolink 810 and one 820, they were about $80 each (no wifi, bue PoE support). Currently I use a cheap 1080 chinese camera and a 4M Hikvision 2.8mm dome (which gets some faces distorted because of the wide angle). The new Reolinks use 4mm lenses. It's possible to get full resolution from RTSP but the Reolinks only support H265 on the main-stream which cause some trouble with Frigate recor

[2021-03-31 15:25] jakowenko commented on #9
Nothing should've changed with that. I just tested with a picture from my phone and it's saving out both people along with any unknowns it had during the process. Are the images just getting purged or not saving at all?

![Screen Shot 2021-03-31 at 11 23 50 AM](https://user-images.githubusercontent.com/1081811/113169563-b8f48a80-9213-11eb-9109-1d280c3e7032.png)

[2021-03-31 17:35] erikarenhill commented on #9
Not sure really, didnt have the possibility to debug it meanwhile, but I had a friend of mine visiting and we talked about this project so I wanted to show him, he stood right in front of the camera but no faces were either detected or saved. But I will try and upload a snapshot manually to compreface it might be that it didnt detect any face from the snapshot somehow. He had a cap and sunglasses

[2021-03-31 17:44] jakowenko commented on #9
Ah yes, if CompreFace didn't find a face it won't save the image; I'm guessing that's what happened. Let me know what happens when you upload the snapshot manually.

Also, I slightly changed the saved image filename as well to include WxH in the filename. So if you're doing any automations or notifications which require the image URL, make sure to grab the filename property which is now published

[2021-03-31 17:48] erikarenhill commented on #9
I took a snapshot manually from the video and compreface didn't detect any faces. I even tried to change the det_prob_threshold to 0.1 with a manual CURL-request against CompreFace but still no faces.

[2021-04-01 06:56] jakowenko commented on #9
base64 won't reliabley work since the OS has a limit on filename length. I'll have to think of some other ways, guess I could just use the db or write a json metadata file.

[2021-04-01 07:53] erikarenhill commented on #9
I also think that the bounding-box coordinates should be stored outside of the image (and then drawn with css or something in the web page), to keep the bitmap clean from drawn graphics when sent for training, keeping the bounding box in the actual bitmap makes little sense except when debugging maybe. Adding confidence outside is a good idea, then you don't have to zoom into the image to see the

[2021-04-01 13:10] erikarenhill opened #25 "save_unknown also saves images with high confidence"
maybe there should be 2 env vars, one save_unknown and one save_all_faces or something,
right now save_unknown also includes matches with 90% confidence to the train/manage gui even though I have that setting to about 70-75

[2021-04-02 06:00] jakowenko commented on #25
I'm not sure I understand. Right now any time a face is found from the detector but the confidence is less than the specified one it's considered unknown. When the all the detection attempts are done, these unknown images along with the matches are saved out.

[2021-04-02 06:32] jakowenko commented on #9
I've updated the manage UI to include more info about the images. I ended up using the image exif data to store a JSON string, so I could easily read it later. I'm pretty happy with how it came out and it's flexible for future metadata.

It does take a longer time to read a lot of the images now with exif, so I added a default of 50 images and you can adjust it with a query string parameter, `?lim

[2021-04-02 20:11] jakowenko commented on #9
I moved the `storage/matches/:name/:filename` route to a controller now so you could pass `?bbox=true` to draw the bounding box. It's not saved by default now.

[2021-04-03 15:11] erikarenhill commented on #25
Hi, what I meant was that the training/manage gui should filter (with my personal preference) out those with a confidence higher than configured if not a specific environment variable is set.

An option would be to have a checkbox in the web page such as "show all" or "only show unknown" to reduce the amount of pictures when managing, where you might not want to handle those with a high confidence

[2021-04-05 23:26] deputyd0ng opened #29 "Local Train folder 0 images, cant connect to MQTT"
I have this running in unraid from docker hub, but when I try to train it using the API, I get an error conn refused 127.0.0.1

I assigned the variables in docker, including key MQTT_HOST and the value being my MQTT broker IP. as well as port user and PW

My logs say MQTT attempting to connect,

When attempting to train from a frigate snapshot, I get a 404, this leads me to believe it cannot reach

[2021-04-06 15:08] jakowenko commented on #29
Can you send me what your config looks like with redacted information? To make sure everything looks like.

I pushed a new beta build this morning if you want to see if you're running into the same issues. The frontend is now accessible from the root of the API. So should be `http://YOUR-IP:PORT`.

For the `MQTT_HOST` make sure you leave off `mqtt://` from your string.

[2021-04-06 15:12] jakowenko commented on #9
@erikarenhill curious if you've had a chance to check any of these changes out? I also rewrote the entire UI and moved it to Vue.JS. It's currently on the beta build and is available at the root of the API `http://YOUR-IP:PORT/`. Should be easier to expand to add more features to the frontend now.

[2021-04-06 22:08] deputyd0ng commented on #29
how do I get the beta?

[config1](https://geekpic.net/pm-5X4ABK.html)
[config2](https://geekpic.net/pm-CWA8J0.html)

[2021-04-06 22:30] deputyd0ng commented on #29
the beta isnt shwoing any images, I definetly think it isnt reaching frigate/deepstack.

Its touch troubleshooting due to running it in unraid, but I have the urls set to variables with values and keys pointing to my urls

[2021-04-06 22:40] jakowenko commented on #29
When you start the container, the current config should be logged out at the start. Does all of that look accurate?

[2021-04-07 02:03] deputyd0ng commented on #29
So I noticed last night it was showing 'mqtt:xxxxx" for the host, and no matter what I change it wont get rid of the 'mqtt://' in front of the host address.

the hardware for unraid is a dell R710 with dual xeons, here is the log:

`____________________________________________________________________________________

██████╗░░█████╗░██╗░░░██╗██████╗░██╗░░░░░███████╗  ████████╗░█████╗░██╗░░██╗█████

[2021-04-07 13:38] jakowenko commented on #29
I just checked the code, I do add the `mqtt://` prefix to the ENV var, so that should be ok. I don't see a `MQTT_USERNAME` though in the logs you posted above. Also it looks like `DETECTORS` isn't showing up right, if you're using deepstack, it should show up in that `DETECTORS` array in the logs.

[2021-04-08 14:14] jakowenko commented on #29
@deputyd0ng I pushed up a new beta image that includes the other architectures, so you should be able to pull that down now. The UI got moved to the root of the api. `http://IP-ADDRESS:PORT`. You can try that and see if it helps at all. Based off your logs though I would make sure the `MQTT_USERNAME` is being passed right and you see it in the containers logs at the top and double check how you ha

[2021-04-11 18:22] deputyd0ng commented on #29
I ended up running it in an ubuntu vm with docker-compose, trying to template it out into UNRAID from docker hub was just a pain in the ass.

Seems to be working fine with docker-compose in the VM, thanks for the help.

[2021-04-11 19:57] jakowenko commented on #29
Glad to hear. I'll close this for now since you have it working. Feel free to open a new issue if you run into anything else.

[2021-04-11 19:58] #29 closed

[2021-04-13 05:41] erikarenhill commented on #9
@jakowenko sorry for late reply here, I was away for a couple of days, will try the new beta now!

[2021-04-13 05:49] erikarenhill commented on #9
I love the new frontend, great work! It has really been a fast paced development from nothing to a really useful and nice ui. I'll send you some samples from the cameras to your e-mail.

[2021-04-13 06:00] jakowenko commented on #9
Thank you! Glad you like it. I added the ability to add new folders from it as well, not sure if you saw that.

Hoping to work on the filtering of names / face sizes next!

[2021-04-13 06:06] jakowenko commented on #9
Now that the UI is a lot easier to work off, are there any other things you can think of that would be useful?

I was thinking about adding a page with a live camera view for training. So you could stand in front of it and see yourself before starting the training. Could just piggy back of the Frigate latest.jpg for now and short poll that.

Having a page to delete trained images would be good too

[2021-04-15 06:38] jakowenko commented on #25
@erikarenhill what do you think of a filter menu like this? It would give the user quite a few ways to narrow down the matches. Is there anything else you think would be useful?

![Screen Shot 2021-04-15 at 2 35 44 AM](https://user-images.githubusercontent.com/1081811/114824981-a3469f80-9d93-11eb-8d60-019d48a87aa3.png)

[2021-04-15 16:17] wills106 opened #31 "[FR] Add Zone support from Frigate"
Would it be possible to only pass images to Deepstack when the motion from Frigate is within a Zone?

Use Case:

I have a camera looking down my drive.
I have a Motion mask on the road as I am not bothered about cars / people in the road.
I then have a zone this side (drive) of the footpath / sidewalk.

I have a zone defined as:
drive_zone_0
under "drive" camera

I am not bothered / interested in

[2021-04-15 17:31] deputyd0ng commented on #9
just piggy-backing here regarding the web-ui.

Whats the best way to handle incorrect matches?  For example, what if it thinks the mailman is me, I dont want to train the mailmans face, but I also want to tell it that the mail man is not the face it came up with a match for?

[2021-04-15 19:08] jakowenko commented on #9
@deputyd0ng, that's a good question. One idea I had was to create a new "unknown" name and train all incorrect matches to that name, similar to how you'd train images for anyone else. Did you have any other ideas in mind?

[2021-04-16 02:41] deputyd0ng commented on #9
funny thing you say that, I just got home and knew it would have picked up some new faces, and there were a few from strangers I dont want to train that it thought were me or my tenant, I actually considered making a new name named "unknown" but I dont know enough about how AI works and didnt want to screw up its learning.

To be fair to the algo, the camera is mounted high and to the left of the

[2021-04-16 21:01] jakowenko commented on #31
Hey! Definitely seems possible, I could add another environment variable you could pass in to specify which cameras and zones you want to watch. Maybe something like `FRIGATE_ZONES: camera-name:zone-name, drive:drive_zone_0`?

[2021-04-16 21:13] jakowenko commented on #9
Hey @deputyd0ng, thanks for all the great ideas! Right now any match that falls below the `CONFIDENCE` is considered a miss, which is probably similar to what your Nest did. I also have a Nest doorbell, no issues here though from the Michigan winters 🤞 .

The way all of the detectors work is you just give it images and a label for each. To my knowledge there isn't a way to tell it that the image w

[2021-04-17 06:20] wills106 commented on #31
Yea that sounds an easy enough environment to specify.

That way when Frigate detects a person entering the zone, the image gets sent to Deepstack.
Also by this point the person would be facing straight into the camera, so would result in a better image quality / detection. As it wouldn't be passing a side on image, which can happen if it responds just before the person turns into the drive.

[2021-04-17 16:22] deputyd0ng commented on #31
exactly, Id like to set up a notification/TTS for when a match is found for my frigate zone 'front_porch'

[2021-04-20 15:44] jakowenko commented on #31
@wills106 @deputyd0ng, I pushed a new beta build to include the changes we talked about. The [README](https://github.com/jakowenko/double-take/blob/beta/README.md#options) shows the new options that can be passed to the container.

Match results are also now published to MQTT in this format: `double-take/cameras/:camera-name`. Did you have any opinions on how you want the values stored for that to

[2021-04-21 11:17] erikarenhill opened #32 "recent match found, even if new faces appear in sequential following frames"
When a camera detects a match it's getting paused, even if the following snapshots on the same event contain new faces.
Testing this with a friend today it first matched on my face and when I told him to get in front of the camera as well it didn't detect him. Testing the latest snapshot from frigate manually in compreface it detects both his and my face, though his below the confidence so it shou

[2021-04-21 11:55] erikarenhill commented on #25
@jakowenko that looks awesome. No more ideas on queue right now! :)

[2021-04-21 12:01] erikarenhill commented on #9
One additional thought on top of the "detrain/unlearn mailman example", is that sometimes you have a snapshot with multiple faces, how does one determine which face that will be trained when you select that image?

[2021-04-21 14:18] jakowenko commented on #32
Hey Erik, I can remove that extra check. I had originally included it to help limit the amount of processing the detectors had to do if a match was found from the camera recently. But you make a good point and there's a chance faces could be missed if a recent match was found.

Do you think there's value in keeping this as a configurable option or just remove it completely?

[2021-04-21 17:17] jakowenko commented on #25
Awesome, glad you like it. Feel free to open up a new issue if you have any other ideas around this. Closing this one for now. Hoping to merge all this into master within the next week or so.

[2021-04-21 17:17] #25 closed

[2021-04-21 18:39] jakowenko commented on #9
@erikarenhill, most likely the detector will reject the image if you try to pass it one with multiple faces.

[2021-04-21 20:08] jakowenko opened #33 "Processed events with no matches produce a lot of missed images"
@erikarenhill, curious to hear your thoughts on this as well.

I've been testing some of the recent code changes with untrained detectors. One thing I've noticed is that if `SAVE_UNKNOWN` is set to `true`, then a lot of images will be produced for each event. Each retry per detector could produce an image if a person is found. For example, if I'm running compreface and deepstack and the snapshot a

[2021-04-22 01:42] jakowenko commented on #33
Maybe instead of having each detector pull the image, I write the image first and put that image through each detector. It could take a little longer, but would reduce the amount of images in general and Frigate API hits.

[2021-04-22 07:01] jakowenko commented on #33
I went ahead and made the changes I mentioned above. Rather than each detector pulling images from Frigate on their own, the image is pulled then passed to each detector. This allows me to reduce the amount of images that are written. Hope this may help with the Frigate API issues too.

[2021-04-22 08:15] erikarenhill commented on #32
Maybe (if possible) the processing could continue, but during that same event only send new matches/mqtt events on any changes,

For example if processing 4 images for the same event:

Image 1: Erik - send event for match on Erik
Image 2: Erik, David- send event for match on David because Erik was already detected on image 1
Image 3: Erik - no events
Image 4: Erik, David  - no events

However it w

[2021-04-22 08:17] erikarenhill commented on #33
cool! I actually wrote something similiar about only saving the best matches in #32

[2021-04-22 08:20] erikarenhill commented on #33
I'll switch over to beta again and help to try it out

[2021-04-22 13:37] jakowenko commented on #33
Awesome, thanks! One thing to note is the UI still displays the same image that was used per detector and if you delete one of the images that was used by another it'll delete both of them. I do want to clean this up still. Maybe displaying one "card" per image and then the results of each detector on that image.

[2021-04-26 06:43] jakowenko commented on #33
@erikarenhill let me know what you think about this. Since the same image is now passed to the detectors during each processing loop, I think it makes sense to display all the detection results on the card. It removes all the duplicate looking images when it was previously displayed by detector. Probably need to add a better way to determine which bounding box belongs to which result.

![Screen Sh

[2021-04-26 15:13] wills106 commented on #31
Just wanted to let you know that configuration with zones is working fine.
As it's putting less load on Frigate only looking at zones I am finding Frigate doesn't crash so much.

Not done anything with MQTT yet, but the topics look ok and make sense.

[2021-04-27 03:05] deputyd0ng commented on #31
Working on this now.  Im trying to make a node-red entity, similar to the example that was created, I have the node just called "front door face"

I am using essentially the same node from the example, but ti doesnt seem to be working, what would be the best way to parse out any match from double-take/cameras/front_door topic?  I thought just using the parsed JSON object would work, but it aint.

[2021-04-27 05:12] jakowenko commented on #31
@deputyd0ng does your node look something like this? The output of this should be an array of objects, each one represents a matched person. Can you post a screenshot of what your entire Node-Red flow looks like? I can try to help debug.

![Screen Shot 2021-04-27 at 1 11 00 AM](https://user-images.githubusercontent.com/1081811/116188528-914ef000-a6f5-11eb-9952-a73421297793.png)

[2021-04-28 04:13] deputyd0ng commented on #31
![image](https://user-images.githubusercontent.com/58789901/116345485-37622f00-a7b6-11eb-8001-631a6ff67ba3.png)

Do I need to set my QOS to 0 (no idea what that is)

This is my second node, basically the same as the example:

![image](https://user-images.githubusercontent.com/58789901/116345642-8740f600-a7b6-11eb-83a4-3540ac83abfa.png)

[2021-04-28 06:51] jakowenko commented on #31
@deputyd0ng Yes, try to set the QOS to 0. I'd also put a debug node after the topic to make sure you're getting the data. The data for the camera topic is an array, the entity node you have above I believe will only work if you subscribe to just the notifications for a specific person. If you only care about the first face of the results you can probably just replace `payload` with `payload[0]` (n

[2021-04-29 05:55] #7 closed

[2021-04-29 06:20] jakowenko commented on #31
@deputyd0ng I added better [documentation](https://github.com/jakowenko/double-take/blob/master/docs/home-assistant-node-red.md) and some samples for HA + Node-Red

[2021-04-29 14:06] jakowenko commented on #9
I'm going to close this issue since the production build now includes all of the UI updates. Feel free to open up a new issue if you have any other ideas for it!

[2021-04-29 14:06] #9 closed

[2021-05-02 15:45] Chreece opened #37 "deepstack process error"
I'm having an issue lately, getting the same error after frigate recognizes a person:

[code]
It was running great, until it broke... :)

[2021-05-02 15:50] Chreece commented on #37
Or is it a deepstack problem?

[code]

[2021-05-02 15:52] Chreece commented on #37
restarted deepstack, everything ok :)

[2021-05-02 17:05] #37 closed

[2021-05-03 19:04] alekslyse opened #38 "Home Assistant addon"
Would it be possible to make a home assistant addon? Since its based on docker it should be an easy task?

[2021-05-04 12:01] alekslyse commented on #38
If you look at frigate, they did both; The docker running on home assistant and as an integration with sensors, cameras etc. If I was you start simple. Just support addon first, then add integration afterwards. Supporting addon should be very easy to accomplish.

[2021-05-04 20:04] jakowenko commented on #38
I agree, add-on seems easier at first. Integrations look like they need to be written in Python.

[2021-05-04 22:23] alekslyse commented on #38
Its not that hard. I have written multiple integrations and its quite
simple if its just passing in sensors etc

On Tue, 4 May 2021 at 22:04, David Jakowenko ***@***.***>
wrote:

[2021-05-07 06:07] jakowenko opened #39 "Configuration via YAML instead of ENV variables"
I've been working on updating the API to accept configuration variables via a YAML file rather than passing them directly to the container as environment variables. Wanted to get some feedback, but here is what a more complex config would look like.

[code]

[2021-05-10 21:00] alekslyse opened #40 "Video stream detection and object detection"
Would it be able to expand endpoints to object detection and  video analyse too. Its already support for facebox, but would be nice to pass the frigate video too into videobox https://docs.veritone.com/#/developer/machine-box/boxes/videobox

[2021-05-12 17:21] jakowenko commented on #40
This is definitely something I'd like to add support for. DeepStack also has object detection.

[2021-05-13 16:08] alekslyse opened #41 "Mass learn and unlearn"
As sometimes its easy to click learn on too many things. I noticed I clicked learn on some hits that should not be hits.

Would it be possible to implement "unlearn / forget" and relearn (if I for example use deepstack and install facebox too, I could click a button and it learns facebox with all the images already learned)

[2021-05-13 19:26] MrNorm opened #42 "Ability to define minimum box size"
Fantastic project, which slotted perfectly into my Frigate + HA setup. Thank you.

I'm using DeepStack for the facial recognition here. I noticed that sometimes Frigate picks up a person quite far away and sends that image over to double take, even after playing with the min/max area filters.

Because of this, the face box for facial recognition is very small and for me, produces results with fals

[2021-05-14 05:05] jakowenko commented on #42
Thanks for the kind words @MrNorm. If you're running the beta build, I just pushed an update to support this.

I've updated the [README](https://github.com/jakowenko/double-take/tree/beta#configuration) to show how to configure it. By default it's set to 10,000 pixels. So any results that are smaller than 100x100 won't be counted as a match. Let me know if this solves the problem you had.

[code]

[2021-05-14 05:10] jakowenko commented on #41
The API currently supports this and may solve your issue. There isn't a way to do it from the UI currently.

[`/api/train/add/:name`](https://github.com/jakowenko/double-take/tree/beta#get---apitrainaddname) will add all images from the`/.storage/train` folder and [`/api/train/remove/:name`](https://github.com/jakowenko/double-take/tree/beta#get---apitrainremovename) will remove all trained images

[2021-05-14 08:46] MrNorm commented on #42
Thanks for taking a look so quickly!

I switched to the `beta` tag and have created a `config.yml` which seems to be picking up OK, as MQTT and DeepStack are connected.. but I'm afraid the face boxes are still under the threshhold.

I may be doing something wrong here. Are my settings correct?

[code]

Latest sample with box size of 2418 pixels

![image](https://user-images.githubusercontent.com/6

[2021-05-14 13:17] jakowenko commented on #42
I thought it would be useful to still save the images, did you not want them saved at all? It does appear to be working since that result didn't produce a match and the other ones you posted before did.

[2021-05-14 16:02] MrNorm commented on #42
Doh! I've just seen the colour of that detector box 🤦‍♂️ My screen and bad eyes didn't pick that up earlier.

Thanks for your patience. This works perfectly 👍

[2021-05-14 16:02] #42 closed

[2021-05-14 17:32] mannp commented on #31
Hi @jakowenko, i am using the beta docker build and a config.yml file trying to configure multiple zones per frigate camera....the docs show the following format;

    - camera: homeparkingfull0
      name: zone_drive

This for me results in -> zones: [ **[Object]** ]

Adding this way;

  zones:
    - homeparkingfull0:zone_drive

Results in -> zones: [ 'homeparkingfull0:zone_drive' ] in the log :)

[2021-05-14 18:20] jakowenko commented on #42
Happy to help! If you have any other ideas or feedback, let me know.

[2021-05-14 23:07] jakowenko commented on #31
Hey @mannp, the docs should be correct even though the logs show Object Object. I'll work on correcting this so it's readable. Maybe I'll just move it to a page on the UI. The issue right now is that it's too nested for the logs to show the values. But if you follow the docs it should work.

Let me know if you are still running into issues and I'll let you know when I correct the output to so the

[2021-05-14 23:40] mannp commented on #31
Thanks for that @jakowenko :)

So multiple zones per camera is multiple name: zone.x lines under the camera definition?

[2021-05-15 00:29] jakowenko commented on #31
Multiple zones for the same camera should look like this. I'm on mobile, sorry if formatting is off.

  zones:
    - camera: driveway
      name: zone-1
    - camera: driveway
      name: zone-2

[2021-05-15 11:18] mannp commented on #31
Hi @jakowenko I have that setup now, although nothing showing in doubletake as yet.

It seems frigate crashes alot with doubletake for some reason.

`Maybe I'll just move it to a page on the UI. `

Level of work permitting this would be great, for a noob, it is hard to tell if doubletake has what it needs to work and all connections are okay etc. There are no errors in the log, but nothing showing

[2021-05-16 00:50] jakowenko commented on #31
@mannp can you post your config and I can see if everything looks right.

There does seem to be some [issues](https://github.com/jakowenko/double-take/tree/beta#known-issues) around Frigate snapshot images. There were some open issues on Frigate's repo around connections not being closed. You should try setting `frigate.attempts.snapshot` to `0` to see if that resolves your issue. I've been runnin

[2021-05-16 10:35] mannp commented on #31
@jakowenko this is my current config, but getting errors in the log around the zone definition, see below too.

[code]

Log

[code]

[2021-05-17 02:46] jakowenko commented on #31
@mannp the config looks ok. I did just push a new beta build that includes a [config route](https://github.com/jakowenko/double-take/tree/beta#get---apiconfig) you can hit via the API until I add it to the UI. I also fixed the logs to show the full config object.

In terms of the logs you posted, it appears DeepStack is having issues, or is not sending back the expected response. It's related to t

[2021-05-17 02:48] #33 closed

[2021-05-17 06:20] jakowenko commented on #38
I've added partial HA integration via their [REST API](https://developers.home-assistant.io/docs/api/rest/).

If you're using the beta build you can now pass a Home Assistant config object.

[code]

It doesn't look like this method officially registers the entity within HA, since it disappears via a restart, but the next time a detection is found it is recreated. So for the time being, I'm using t

[2021-05-17 07:15] MrNorm commented on #39
Recently switched from `main` to `beta` and had no problems migrating to this. Certainly gives more flexibility over environment variables and reads a lot better too 👍

[2021-05-17 10:05] mannp commented on #31
@jakowenko the new beta worked better for me, with the same config I got pictures and attempts at matches in the doubletake gui.... some car hub caps recognised as faces, but at least some progress thanks :)

My log now shows the following;

[code]
Personally the log would make more sense if 'name' was replaced by 'zone' and so I am leaning more towards the latter config format, just keeping thing

[2021-05-17 16:09] mannp commented on #31
Further testing and using a previous face image from frigate, the logs seem better but still nothing further in the gui.

`curl -X GET "http://192.168.30.69:3000/api/recognize?url=http://192.168.30.60:5000/clips/homeparkingfull0-1621245633.860043-hwr6z9.jpg&results=all"`

[code]

[2021-05-17 16:42] jakowenko commented on #31
@mannp you do have vision face and detection setup for your DeepStack container, right? It should look something like this.

[code]

[2021-05-17 16:50] mannp commented on #31
@jakowenko  I am not using any env variables, since I have only starting setting up with the config.yml file using the beta.

My config contains the following....are these the corresponding flags in the config.yml?

[code]
and
[code]

[2021-05-17 17:03] jakowenko commented on #31
Did the `deepstack process error: Cannot read property 'map' of undefined` go away once you rebuild the DeepStack container with the env vars?

[2021-05-17 17:27] mannp commented on #31
No the error hasn't gone away unfortunately :) but I haven't had it enabled for 99% of the testing above, so its really a nice to have for me.

I have been using facebox most of the time alone.

Done and thanks :)

[2021-05-18 02:43] #31 closed

[2021-05-18 02:43] #39 closed

[2021-05-19 11:03] erikarenhill opened #44 "Only latest and beta available at dockerhub + potential bug related to compreface"
Hi,

I noticed only latest and beta is available at dockerhub, not specific versions/releases.

For example my double-take LCX container has crashed and when setting things up again now from scratch I'm experiencing a bug(?) with 0.5.1 and compreface but before reporting it as an actual bug I'd like to check with an older version since I know it has worked before, and not just being some configura

[2021-05-19 14:49] jakowenko commented on #44
You're right. I should be better about having different versions of available on DockerHub. I can build a previous version for you if you want. I'll update my GitHub Action to build latest and the version number maybe.

Are you running [CompreFace v0.5.0](https://github.com/exadel-inc/CompreFace/releases/tag/v0.5.0) now? I wonder if it's related to adding in support for that.

[2021-05-20 09:19] erikarenhill commented on #44
I have not changed CompreFace version as that is running on an own lxc container, which means Im running 0.4.1

[2021-05-20 09:30] erikarenhill commented on #44
Its working after upgrading compreface to 0.5, thanks for notifying me on that one :)

[2021-05-20 09:30] #44 closed

[2021-05-21 06:04] jakowenko commented on #18
Hey @erikarenhill, I got this into the latest beta build. Let me know what you think. You can configure the Frigate snapshot MQTT image as well, the default is pretty small.

https://blakeblackshear.github.io/frigate/configuration/cameras/#full-example

[2021-05-23 02:45] Alfiegerner opened #46 "Question: set matched to unknown"
Hi, thanks for this project, really loving it.

Just wondering, I have instances where am unknown person (delivery driver)  is matched as a family member. How can I train the image to unknown? Do I just create a new folder / name 'unknown', which I guess is like creating an identity called unknown. Or is there a way to train the model to move it to the true unknown category?

I'm using compreface.

[2021-05-24 02:28] jakowenko commented on #46
Thanks for the kind words.

I haven't seen anything within CompreFace to report an incorrect result via their API, so I would probably go the route you mentioned. Create an unknown folder and train the images incorrect images to that name. You could also try to adjust the `min_area_match` and set it to something larger to require a larger area before considering it a match.

[code]

[2021-05-24 17:24] Chreece opened #47 "Usage of Age / Gender etc. from Compreface"
Hello David,
Thank you very much for sharing your great project!
I think it is a must have for the Smart Home enthusiasts...

What do you think about adding support for the new plugins from Compreface like Age and Gender recognition?

I would like to read your thoughts...

Keep up helping the community :D

[2021-05-24 19:36] jakowenko commented on #47
I'm glad you are finding the project useful and thank you for the suggestion!

I'd definitely love to support this feature. I was looking a little closer at it last night. Do you see this running at the same time recognition happens? Maybe showing all the age / gender info on that UI card element for each picture?

[2021-05-25 02:04] jakowenko commented on #47
Hey @Chreece, I added support for this feature to the beta build if you want to test it out.

You'll just need to update the `config.yml` to pass in the `face_plugins` like so:

[code]

I've added two new badges to the UI if the values are present. I'm currently only accounting for the age and gender plugins.

<img width="495" alt="Screen Shot 2021-05-24 at 10 00 56 PM" src="https://user-images.gi

[2021-05-25 02:05] jakowenko commented on #47
Hey @Chreece, I added support for this feature to the beta build if you want to test it out.

You'll just need to update the `config.yml` to pass in the `face_plugins` like so:

[code]

I've added two new badges to the UI if the values are present. I'm currently only accounting for the age and gender plugins.

<img width="495" alt="Screen Shot 2021-05-24 at 10 00 56 PM" src="https://user-images.gi

[2021-05-25 07:58] Chreece commented on #47
Wow that was fast!

You are awesome!

That's exactly the way I would have it done...
I will try it and give my feedback.

[2021-05-25 13:46] Chreece commented on #47
Yes it works as I would personally wanted!
Thank you David!

[2021-05-25 13:57] jakowenko commented on #47
Awesome, I'm glad it's working for you. I'll close this for now and feel free to open up a new issue if you'd like to see anything else added.

[2021-05-25 13:57] #47 closed

[2021-05-26 07:01] Alfiegerner commented on #46
Thanks.

[2021-06-04 02:57] Raphael909 commented on #18
Hey @jakowenko , I was wondering what are your thoughts or plan to get this feature into master branch or cut a new release.
Thank you for this fantastic software!

[2021-06-04 21:37] jakowenko commented on #18
Hey @Raphael909, thank you for the compliments. I just published [v0.6.0](https://github.com/jakowenko/double-take/releases/tag/v0.6.0) which has this feature along with a few other changes. If you have any other feedback for feature suggestions feel free to open up a new ticket.

[2021-06-04 21:37] #18 closed

[2021-06-04 23:28] Raphael909 commented on #38
Hello @jakowenko , What are your thoughts on doing HA integation via  HA's MQTT Discovery. If retain flag is set, then, all of entities gets updated info automatically.
here : https://www.home-assistant.io/docs/mqtt/discovery/

I use xiaomi-Dafang hacks and they have integrated with HA via Mqtt discover. Might help https://github.com/EliasKotlyar/Xiaomi-Dafang-Hacks/blob/master/integration/homeass

[2021-06-04 23:35] jakowenko commented on #38
@Raphael909 love this idea, I'll look into it more. Didn't realize this was possible. Will this add any benefits to what the current HA implementation does? I'm using the HA API at the moment.

[2021-06-04 23:56] Raphael909 commented on #38
I think benefits are two fold.

From your last comment and I quote "It doesn't look like this method officially registers the entity within HA, since it disappears via a restart, but the next time a detection is found it is recreated". At least it might solve this part. Entities will have info and not have to show unavailable upon restart until next info is pushed. (push vs pull model)
Information

[2021-06-05 00:16] jakowenko commented on #38
Awesome, thanks for the info. All results per camera and name are currently published to MQTT topics. I need to look into it more to see if anything else needs to change to support HA or if I can use what's current being published.

Having the entities retained after restarts would be great.

[2021-06-05 19:31] Raphael909 opened #49 "Mqtt snapshots and Config cameras"
Hello @jakowenko , Not sure if you are noticing this also but after installing 0.6 release, I am like seeing few odds stuff:

- Mqtt subscription for snapshot not honoring the cameras present in config yml. Instead it seems to process every entity sent by frigate . May be because of 'frigate/cameras/+/person/snapshots'.
- Config has minimum match confidence of 95 but UI does not think a recognitio

[2021-06-07 01:02] jakowenko commented on #49
Hey @Raphael909, I have a new beta build to fix the MQTT snapshots not honoring the Frigate camera config. Good catch on that, I missed it when adding in that feature.

I haven't been able to reproduce the confidence issue you are describing. Can you double check your config and post what you have here for that section? I tested the following image three times. First with 50% confidence, then 95%,

[2021-06-07 01:40] Raphael909 commented on #49
Thank you for the quick fix . Part of the config:
`mqtt:
  host: 192.168.xx.xx
  username: "mqtt"
  password: "1982"
  topics:
    frigate: frigate/events
    matches: double-take/matches
    cameras: double-take/cameras

home_assistant:
  url: http://192.168.xx.xx:8123
  token: ${token}
confidence:
  match: 95
  unknown: 60

objects:
  face:
    min_area_match: 10000

save:
  matches: true
  unkn

[2021-06-07 02:24] jakowenko commented on #49
The images in my screenshot really read from right to left with the percentages I posted. The left one was red at 100% because I set the value in the config to 101, so any images less than 101% are not considered a match.

When a match is found from a detector the confidence value from that result is compared with the one set in the config. For example, if a result comes back from CompreFace with

[2021-06-07 02:29] jakowenko commented on #38
@Raphael909, I made the changes we talked about. This is a lot more flexible and now with the `retain` flag, the state is saved upon HA restarts. I dropped support for the HA API since this method adds more value.

This is what my config looks like in HA now.

[code]

[2021-06-07 06:53] Sborkahome opened #50 "mqtt topic state"
Hi! Very cool project! You can modify multiple parts:
1) add a status mqtt topic during start and operation, for example, state = online
Thank you for paying attention to my details!

[2021-06-07 13:31] jakowenko commented on #50
Thanks for the suggestion, I can work on getting this added in. What other types of states do you think would be helpful?

[2021-06-08 02:21] jakowenko commented on #50
This is now included in v0.6.1. Feel free to reopen if anything needs to be adjusted.

Availability is now published to `double-take/available`

[2021-06-08 02:21] #50 closed

[2021-06-08 14:38] jakowenko commented on #49
@Raphael909 am I good to close this issue or are you still having issues?

[2021-06-09 03:41] Raphael909 commented on #49
@jakowenko , sorry man, my PSU failed on me the other day so never got it tested . It is on the way  but anyways I will close this issue for now.
Thank your again!

[2021-06-09 03:41] #49 closed

[2021-06-09 03:49] jakowenko commented on #49
No worries, thank you. Hope you get that PSU fixed soon 🤞

[2021-06-09 06:59] Sborkahome opened #52 "mqtt messages"
David, hello!
Thank you for your project and for answering our questions quickly. But you can add a few more things:
1) messages error output in mqtt, for example, in config.yml the parameters are incorrect, or detectors are not specified;
2) you can made button "reset" in web-ui double-take.
Now all this can be done only through docker/portainer which is very inconvenient.

[2021-06-09 17:21] jakowenko commented on #52
Hey @Sborkahome, thanks for your suggestions, these are great!

1. Would you like any error messages published to a MQTT topic? Did you have any preferences on the name or format or just something simple like `double-take/errors`?
2. Are you hoping to just restart the API form the UI? There currently is a localhost:PORT/#/config route, when you save changes here the API does restart, but I can mov

[2021-06-09 19:20] Sborkahome commented on #52
1. May be create double-take/errors = "description of the error", for example, <<syntax error, line 10>> or <<detector not found>>.
2. Yes, button "reset" in ui this cool!

[2021-06-11 03:11] causefx opened #53 "Any way to deal with self signed certs on recognize endpoint"
Trying to send a snap from a camera and I cannot get it to work for the life of me...

`http://docker.home.lab:8203/api/recognize?url=https://10.0.9.40/snap.jpeg`

Getting this error:
[code]

The camera also has a http endpoint but I'm not sure why it doesn't pass validation...
`http://docker.home.lab:8203/api/recognize?url=http://10.0.9.40/snap.jpeg`

Error:
[code]
Camera is a Ubnt Doorbell camer

[2021-06-11 04:14] jakowenko commented on #53
Hey @causefx, updating the environment variable `NODE_TLS_REJECT_UNAUTHORIZED` to ignore the certs would probably be quickest fix. I was able to test this locally and verified it worked on a self signed cert. Can you give it a try and let me know if it resolves your issue?

If you're using a Docker compose, just set the environment variable like this.

[code]

Or `docker run -e NODE_TLS_REJECT_UNA

[2021-06-11 04:42] causefx commented on #53
Thanks for the reply @jakowenko
The cert disabling worked but I still get HTTP error 400 for some reason.
[code]
I wonder if it has something to do with unifi's end.  The response headers look fine when accessing the url from the browser:
[code]
General info:
[code]
Output:
![image](https://user-images.githubusercontent.com/16184466/121631797-9f05ce00-ca34-11eb-87cd-edd0c6fcdb92.png)

Kinda weird.

[2021-06-11 04:49] jakowenko commented on #53
Hm...ya that would make sense since you were also getting the 400 when using the http url. I agree, the headers look good, nothing stands out there.

Could it be a Docker networking issue? You could SSH into the container and try to ping that url.

[2021-06-11 04:56] causefx commented on #53
Ping was fine within the container.
Testing with postman I see something...
With Host header:
![image](https://user-images.githubusercontent.com/16184466/121632868-a0d09100-ca36-11eb-9e67-dbc380950c46.png)

Without:
![image](https://user-images.githubusercontent.com/16184466/121632908-ad54e980-ca36-11eb-99e7-39b3b71a371a.png)

[2021-06-11 05:00] causefx commented on #53
In the meantime, I went ahead and just creating a small script within one of my other applications:
`http://docker.home.lab:8203/api/recognize?url=http://docker.home.lab:8000/test/test.php`

[code]
6/10/2021, 9:57:02 PM
processing double-take: f863e780-fb4d-472a-92b7-d7d3ccf808bd
response:
{
  id: 'f863e780-fb4d-472a-92b7-d7d3ccf808bd',
  duration: 4.31,
  timestamp: '6/10/2021, 9:57:06 PM',
  att

[2021-06-11 05:02] jakowenko commented on #53
Ah, the host header! That's good to know. I can get that updated and include it in all the outbound API requests. Does it seem to be working now with your PHP proxy approach?

[2021-06-11 05:04] causefx commented on #53
Yes sir, the temporary php proxy works well.  I will test your solution whenever you get time to update :)

Either way, thanks for taking the time to help 👍🏽

[2021-06-11 05:08] jakowenko commented on #53
Great to hear it's working. I'll be out of town this weekend, but will try to get it updated by early next week.

Thanks for checking out this project. If you ever have any feature requests or suggestions, don't hesitate to reach out.

[2021-06-11 05:13] causefx commented on #53
No worries man and no hurry.  The project seems really cool - I will def make some FR's once I use it a lot more.  Would you like me to keep this issue open - or close it?

[2021-06-11 05:20] jakowenko commented on #53
Thank you, I've had a lot of fun building it over the past few months.

You can keep this open for now. It shouldn't take too much to get that header added in. May just need your help to validate it worked.

[2021-06-12 15:14] xeryax opened #55 "min_area_match doesnt seem to be working"
I am getting a lot of "matches" for faces that are really small (20x20). I have the default set:
`objects:
  face:
    min_area_match: 10000`
but
![image](https://user-images.githubusercontent.com/26824412/121780615-2ce5d400-cb6f-11eb-945f-c8aebd65986a.png)
these keep being matched...

Also, unrelated... does anyone find that deepstack will take giant leaps at guesses, and compreface always has su

[2021-06-12 16:45] xeryax commented on #55
just found the beta branch.... can close.

[2021-06-12 17:41] jakowenko commented on #55
min_area_match only determines if the result should be a match or not. The image will still be saved to the UI as a miss.

[2021-06-15 03:14] jakowenko commented on #53
@causefx, it does appear the host header is added by default, so it's got to be something else. Can you try doing the same test in Postman, but set the method to `HEAD`, that's currently what I'm using to do the URL validation. If it fails with the host header and the `HEAD` method, then I will change it over to `GET` to see if that fixes it. If it works, then back to the drawing board haha.

[2021-06-15 03:15] #55 closed

[2021-06-15 03:15] jakowenko commented on #55
Closing per your request, let me know if you run into any more issues or have questions.

[2021-06-15 03:29] causefx commented on #53
Hey again @jakowenko,
![image](https://user-images.githubusercontent.com/16184466/121988417-1c8c4f80-cd4f-11eb-8cad-b7ed502075d0.png)
Error 400...  :)

[2021-06-15 03:39] jakowenko commented on #53
Great, I'll push up a fix for that now. Thanks for testing that so quickly.

[2021-06-15 03:39] causefx commented on #53
You got it man... I will test once the image is updated :)

[2021-06-15 04:02] jakowenko commented on #53
`double-take:beta` just finished building if you want to give that a try. I'll build latest now, but it takes about an hour to finish.

[2021-06-15 04:07] causefx commented on #53
ok, let me pull

[2021-06-15 04:10] causefx commented on #53
**SUCCESS!!!**
Good job man!
Thank you!
[code]

[2021-06-15 04:11] jakowenko commented on #53
Awesome!! Thank you again for helping to test this.

[2021-06-15 04:13] causefx commented on #53
No sweat man.  I get my Coral USB in tomorrow, so I will be installing Frigate to test with Double Take.  Once I play around with both, I will be submitting some FR's.

:) thanks again!

[2021-06-15 04:13] #53 closed

[2021-06-17 19:06] Raphael909 opened #57 "[FR] Snapshot from Camera Directly"
Hello @jakowenko , Hope you doing well.
What you think about getting snapshot from Camera snapshot URL directly instead of MQTT and Frigate.
Most of the time people use sub-stream of the camera for object detection or say in Frigate and use High res stream for recording. Now, frigate decodes sub-stream and post low res snapshot to mqtt and this makes face recognition and also training less accurat

[2021-06-17 19:18] jakowenko commented on #57
Hey Raphael,

Thanks for the feature suggestion. I think that makes sense for cameras that support a snapshot, but what about cameras that just have a RTSP URL? Were you hoping you could configure cameras similar to how they are in Frigate and an ffmpeg process would turn that feed into an image to process?

Overall I think trying to decouple Double Take from other projects makes sense and allows

[2021-06-17 20:17] Raphael909 commented on #57
Hi, that is a very good point.. I was not thinking of ffmpeg at all instead I was more on the lines of such type of integration
Camera ---> Surveillance system (BI)---> [Frigate] ---> HA
 - Camera URL http://something/cgi/current.bin
 - Surveillance system -- Either URL or MQTT (Blue Iris can do both on motion )
 - Frigate ( MQTT)

Config
`cameras:
     Driveway-camera: // this could be your camer

[2021-06-17 20:29] jakowenko commented on #57
I don't think I'm fully understanding, maybe because I don't know the capabilities of Blue Iris. In your example with the camera URL being `http://something/cgi/current.bin`, what is the output of that? A jpg image or some sort of stream?

Are you picturing Blue Iris detecting motion then triggering something within Double Take to start processing the camera images?

[2021-06-17 20:30] Raphael909 commented on #57
I was still trying to fix my config style :P . Sorry, yeah it will be jpg

[2021-06-17 20:34] jakowenko commented on #57
No problem, the edited config helped me better understand better. What is the static URL of the Wyze image? I have some of those cameras but have been using the RTSP one currently. Just looking for something to better test with.

[2021-06-17 20:37] Raphael909 commented on #57
so,  Wyze I have uses  dafang and it provides  image at :hacks https://192.xxx.xx.119/cgi-bin/currentpic.cgi

[2021-06-17 20:40] jakowenko commented on #57
Ah gotcha, so I need to flash them with the Dafang firmware before I can use that. I'll give it a go on one of them.

[2021-06-17 20:41] jakowenko commented on #57
Can you curl that URL `curl --head https://192.xxx.xx.119/cgi-bin/currentpic.cgi` and see what the content type is?

[2021-06-17 20:42] Raphael909 commented on #57
Yes that what I had in my mind.. It could be MQTT controlled that double-take defines or via a GET

[2021-06-17 20:48] Raphael909 commented on #57
![Untitled](https://user-images.githubusercontent.com/12632043/122470179-c0fad580-cf8b-11eb-962e-1a723666e2ad.png)
I dont have curl on my machine but I think this network grab might be helpful to you

[2021-06-17 21:10] jakowenko commented on #57
Thank you!

[2021-06-17 21:12] Raphael909 commented on #57
here is the link .. just in case https://github.com/EliasKotlyar/Xiaomi-Dafang-Hacks.

[2021-06-18 15:43] jakowenko commented on #57
@Raphael909 in the short term would just the [`/api/recognize`](https://github.com/jakowenko/double-take#get---apirecognize) endpoint work for this?

You could pass `https://192.xxx.xx.119/cgi-bin/currentpic.cgi` as the URL and increase the `attempts` param to be something higher than `1` to process that image multiple times.

Just an idea until I can build something that is defined via the config

[2021-06-18 21:24] Raphael909 commented on #57
Good idea! . Probably, you will need time to think through, flush out design and some details.

[2021-06-19 09:54] Sborkahome opened #58 "objects.face.min_area_match"
David, hi!
In config.yml is parameter -  objects.face.min_area_match: 15000
When frigate captures images, double-take compares them all in a row. And can you make double-take compare only those that fit the specified "Box" parameters?
Why compare those images when they do not match those specified in config.yml.
For example, here double-take makes 3 unnecessary comparisons when "Box" is smaller th

[2021-06-19 13:09] jakowenko commented on #58
Hey @Sborkahome,

The `objects.face.min_area_match` parameter only determines if it should be considered a match. The image will still be saved, but if it's smaller than the size configured it won't be a match. I can add another option if you'd like to make it not even save these images.

[2021-06-21 01:55] jakowenko commented on #57
@Raphael909, I just pushed a beta build with a basic implementation of this so far.

[code]

This can then be invoked via a `GET` request at - `/api/cameras/driveway`

I haven't written the MQTT logic for this yet, but I was thinking about automatically subscribing to that topic when the API starts. That way any message from that topic would be processed and the API could still be invoked via the

[2021-06-21 02:41] Raphael909 commented on #57
I will give this a spin tomorrow evening after work probably.. Good stuff man!
I was also thinking, if you would like to create a post for double-take in this forum `https://ipcamtalk.com/`.. Lots and lots of IP camera / blue iris / ISPY enthusiast .
What you have started here is a fantastic project!

[2021-06-21 03:05] jakowenko commented on #57
@Raphael909, thank you! Is there a specific sub forum I should post in? I'd love to get some of the feedback from their users.

[2021-06-21 08:08] tunip commented on #57
Tried this beta, but received a `Cannot GET /api/cameras/eingang`.
My camera needs basic auth which I entered in the URL in the config.yml http://<user>:<password>@<ip>...

[2021-06-21 13:43] jakowenko commented on #57
Does your config look like this?

[code]

[2021-06-21 14:09] tunip commented on #57
exactly...

[code]

[2021-06-21 14:39] jakowenko commented on #57
@tunip Can you try to repull the image and recreate your container?

The route should at the very least output `{ error: "camera config not found" }` if it can't find the camera configuration. The `Cannot GET /api/cameras/eingang` error leads me to think you don't have the latest beta image.

[2021-06-21 15:02] tunip commented on #57
repulled the image and recreated the container.

I use the following docker-compose part to start double-take. Changed ":latest" to ":beta-0.7.0".
[code]

Fetching
[code]

"docker images" shows:
`jakowenko/double-take                   beta-0.7.0    136b9f1cea7e   13 hours ago    910MB`

If I remove the camera part from config.yml, the message is the same. I expected `{ error: "camera config not f

[2021-06-21 15:14] tunip commented on #57
Now I manually added the changes from the beta branch to my running container.

Now I get:
`{"id":"978379c7-7276-47d9-ac76-aae4fe845b4e","duration":0.04,"timestamp":"21.06.2021, 17:10:44","attempts":0,"camera":"eingang","zones":[],"matches":[]}`

I am directly in front of the camera but no snapshot is taken. Maybe it is now the query string you mentioned earlier.

[2021-06-21 16:03] jakowenko commented on #57
Glad you at least got a response back. Can you try without the query string param for now? `http://username:password@192.168.5.19/cgi-bin/snapshot.cgi`. I'll work on an update tonight to handle query strings.

[2021-06-22 02:53] jakowenko commented on #57
@tunip I confirmed that query string params do work in the config. Can you verify the URL you are using can be resolved by the container?

[2021-06-22 13:06] tunip commented on #57
Camera is reachable from the double-take container. Found the following in the double-take docker logs:
`url validation error: Request failed with status code 401`

Installed wget inside the container and did a successful test:
[code]

We see in the first http request a 401:
`HTTP request sent, awaiting response... 401 Unauthorized`

The second http request is authenticated and the snapshot could

[2021-06-22 19:59] jakowenko commented on #57
Thanks for the update @tunip, let me know if there's anything I can do to assist.

[2021-06-23 05:46] jakowenko commented on #58
I'm going to close this since it's working as intended. Feel free to open a new issue if you encounter any other problems.

[2021-06-23 05:46] #58 closed

[2021-06-28 05:14] jakowenko commented on #57
Closing since this is now included in the v0.7.0 release. Feel free to open a new issue if you're having problems or have any suggestions.

[2021-06-28 05:14] #57 closed

[2021-06-28 14:47] Raphael909 commented on #57
Good work man!  It is very much appreciated!. Sorry, got into some unavoidable circumstance so could not test this quickly .. but beautify of open source community.. thank you @jakowenko and @tunip  :)

[2021-07-03 00:02] Haloooch commented on #41
Was just going to log this as an enhancement but see it's already here. I was thinking you could add this functionality to the 'Files' view. Implement the multiple select (clicking on the image) that is on the 'Matches' view along with the 'Train' dropdown, but with a new dropdown or tick box called 'Remove' (or something like that).

[2021-07-03 00:26] Haloooch commented on #38
I don't fully understand this but if I'm reading the following doc correct if you set the topic to be 'homeassistant/sensor/david' AND HA has MQTT discovery enabled, which it is by default, then there would be no need to manually add the sensor, HA would do it automatically. I think....
https://www.home-assistant.io/docs/mqtt/discovery/

[2021-07-06 03:37] jakowenko commented on #41
@Haloooch, I was hoping to implement it similar to how you described, but the ability to remove specific images varies per detection service. CompreFace and Facebox both allow you to remove specific images, but DeepStack only allows you to remove the entire trained person, as far as I can tell.

I may just have to allow the multiselect for CompreFace and Facebox and then just have a single button

[2021-07-06 05:34] jakowenko commented on #38
@Haloooch, thanks for the tip on this. I wasn't aware they could be auto discovered. Looks like a /config and /state topic are needed. I have it working locally. Do you think this should automatically be published when MQTT is enabled? Or should this require an additional config flag for the user to enable?

[2021-07-06 09:20] Haloooch commented on #38
Personally, I would be happy with automatic publishing. However, if it can be done through a config flag it would make more sense and keep all users happy. Options always seem to go down better than forcing a solution :)

[2021-07-06 09:30] Haloooch commented on #41
I use DeepStack so it's a shame to hear it doesn't allow the per image option, I would however still love the ability to simply click a button and remove a person. As such your suggestion sounds like a great enhancement.

I didn't know at least DeepStack saved all trained images, which you have made visible through the 'Files' menu option. Since DeepStack doesn't let you delete one image that's be

[2021-07-06 13:58] jakowenko commented on #38
I'm good with automatic as well, maybe I'll enable it by default if MQTT is on and allow the user to turn it off if they'd like.

Do you think cameras should be published as well? i.e. `homeassistant/sensor/back-door` with the value of the last person that was found?

[2021-07-06 16:27] jakowenko commented on #41
I like what you are proposing, I was thinking of a similar solution. It does become a little complicated to have to retrain the entire person each time, but that's probably the only way to really do it in an elegant way.

Maybe I'll do CompreFace and Facebox the same way to just keep it consistent. This would be a killer feature if implemented correctly.

[2021-07-07 01:33] Haloooch commented on #38
Hi, think cameras should be published. If a user doesn't want them they can always be disabled directly through HA.

[2021-07-07 01:35] Haloooch commented on #41
100% agree and part of my hesitance of suggesting it was the different workflow between products. But if you think you can do it in the same way across all 3 then perfect!

[2021-07-07 14:16] jakowenko commented on #41
I'll try to get this into the next release in some form and we can then tweak it from there.

[2021-07-09 06:30] jakowenko commented on #38
Hey @Haloooch, I pushed this feature to the beta Docker tag if you want to give it a try and let me know what you think. Names and cameras are published under `homeassistant/sensor/${name || camera }/state`.

[2021-07-10 00:20] Haloooch commented on #38
Partial success. Got the beta version up and running without issue, I can see the new topics are being published both through MQTT explorer and directly within the HA logs:

[code]

However, no device is being automatically created in HA. Still playing to make sure it's not a problem natively in HA.

[2021-07-10 18:22] jakowenko commented on #38
Strange, that hasn't been the case for me. When I go to the developer page in HA and search for the sensors they show up. I'm just using the stock MQTT integration in HA. Did you configure yours differently?

[2021-07-10 23:09] Haloooch commented on #38
Going through the developer page I can see all sensors are there! What was confusing me was I was expecting to see then listed under Integrations>Mosquitto broker. I can see my other MQTT devices there but wondering if discovered devices don't go there automatically.

One thing I noticed when looking at the settings of the sensor, there is a message:

[code]

While it does have an ID ```1625924881

[2021-07-14 06:53] jakowenko commented on #38
@Haloooch, thanks for catching that. I verified that passing in a `unique_id` to the `/config` topic fixes that issue. I'll get this addressed in the next release which should be in a few days.

I was thinking of prefixing the `unique_id` with `double_take` or something like that to prevent collisions with other HA entities. Do you have any preferences? Ultimately, it doesn't probably matter as lo

[2021-07-14 06:55] jakowenko commented on #41
@Haloooch, good news. I've made some good progress on this over the last few days. Hoping to get a beta build of it ready by end of week.

[2021-07-14 09:23] Haloooch commented on #38
The unique ID is rarely seen in the front end (I think), as such having it tagged with ```double_take``` wouldn't add much value to me as a user, but it might make life easier for troubleshooting at some point. As such if it's easy to do you might as well do it.

Sensor name is an interesting one, I now have a sensor called ```sensor.unknown``` from the camera detecting an unknown person. It just

[2021-07-15 06:48] jakowenko commented on #38
@Haloooch, the new beta build should include prefixing the `entity_id` and now includes a `unique_id` too. Both start with `double_take_`. I did notice that the HA `entity_id` comes from the name of the sensor and not the topic name like I originally though, which means the default names of the entities in HA include the prefix. But this can be changed through the UI or YML. I tried passing a `fri

[2021-07-15 07:09] jakowenko commented on #41
@Haloooch the newest beta build includes a lot of cool features. I would love some feedback from you and any suggestions you may have. Here's a screenshot of what it looks like so far.

![Screen Shot 2021-07-15 at 2 51 49 AM](https://user-images.githubusercontent.com/1081811/125743127-ad07b162-e0db-4b0b-a0f3-a29969c22530.png)

Let me try to walk you through how it is currently setup.

The red tras

[2021-07-15 23:15] Haloooch commented on #41
I completed extensive testing of this last night, pleased to say it 'just works'! Very cool feature, thank you.
When I first read your instructions above it did sound overly complicated, equally when playing with it, I didn't need to think ok which button do I click on now, but after a few seconds it all became intuitive.

I didn't find a single bug.

I do have one possible enhancement:

1. Naviga

[2021-07-16 07:03] jakowenko commented on #41
Hey @Haloooch, I'm so happy to hear it's working well for you. There's a little refactoring I need to do, but I tested it pretty extensively as well. Glad to hear you haven't ran into any issues.

I initially didn't have labels on the buttons so it would scale down to mobile and I wouldn't have to worry about it breaking to a new line. For larger screens I added these so it's more clear what the b

[2021-07-16 08:18] Haloooch commented on #41
Just tested and working perfect! I like the idea of adding labels. Thx.

[2021-07-21 07:18] jakowenko commented on #41
Closing as this is now included in release [v0.9.0](https://github.com/jakowenko/double-take/releases/tag/v0.9.0).

[2021-07-21 07:18] #41 closed

[2021-07-21 07:19] jakowenko commented on #38
I think the MQTT auto discovery should cover most use cases for the HA addon. Closing as this is now included in release [v0.9.0](https://github.com/jakowenko/double-take/releases/tag/v0.9.0). Feel free to open a new issue if something isn't working as intended.

[2021-07-21 07:19] #38 closed

[2021-07-21 09:35] Alfiegerner opened #62 "train/add/name not working"
Hi,

Congrats on the new version, looking really nice.

Just coming back to play with this and ran into an error with the train feature. I've used this functionality before with success, but having issues with v.90.

I can see inside the docker shell that storage is set up correctly, i.e. within the docket OS I can see files at /.storage/train/alex. But when I try and load this via a post call:

`

[2021-07-21 13:34] jakowenko commented on #62
Hey @Alfiegerner, any chance those images were already trained at one point? That endpoint won't retrain them, there's a different one for doing that, I'll need to update the Postman docs to show that.

When you pull up the UI and go to the "Train" tab, do you see any images?

[2021-07-21 19:33] Alfiegerner commented on #62
They were trained on a previous version of the app, but I've deleted the database.db to clear the persisted trained data.

I can see images from e.g. train/alex under the Train tab of the UI.

Just tried the retrain API call and getting

[code]

Also tried with POST and PUT with same results.

Thanks for looking @jakowenko .

[2021-07-21 19:48] jakowenko commented on #62
It should be GET - `/train/retrain/:name`, your example is missing the `train` param. Here's the [link](https://github.com/jakowenko/double-take/blob/master/api/src/routes/index.js#L40) to it in the code so you can see what the other routes are too.

[2021-07-21 19:52] Alfiegerner commented on #62
That worked! Thanks @jakowenko !

[2021-07-21 19:54] jakowenko commented on #62
Yay! You're welcome.

[2021-07-21 19:57] #62 closed

[2021-07-22 06:53] Alfiegerner opened #64 "Problem retraining from UI"
Hi,

I have some faces wrongly allocated, I can select them in the UI, pick the correct person and select the tick to re-designate them, as per previous versions, but the logs appear to show no images are being selected for retraining, e.g. 3 images selected by this process, logs show 0:

[code]
So all these images remain in my matched tab with incorrect names.

Not sure if relevant but also seein

[2021-07-22 13:21] jakowenko commented on #64
Hey, this was a bug that was fixed yesterday. Make sure you're on v0.9.1 or the latest beta.

Let me know if that fixes your issue.

[2021-07-22 22:37] Alfiegerner commented on #64
Thanks for quick response.

With .91 I can see the images going through for processing in there logs, e.g. queuing correct number selected, however when I return to the Match tab those images are still appearing. Should they be removed from that tab when processed?

[2021-07-23 13:37] jakowenko commented on #64
I don't remove it from the match page anymore. When you train an image from the match page it copies that over to the training folder for that user.

[2021-07-23 22:27] Alfiegerner commented on #64
Okay, understood thanks.

[2021-07-24 00:06] Alfiegerner commented on #64
Can you confirm what deleting from the match tab does? Does it just clear from that view, no other function?

[2021-07-24 01:50] jakowenko commented on #64
It only removes that match result and image. It does not effect anything on the training side. That image would still remain since it's copied over.

[2021-07-24 08:13] Alfiegerner commented on #64
That all makes sense, thanks.

[2021-07-24 08:13] #64 closed

[2021-07-25 11:42] alekslyse opened #65 "How much do you train?"
Not an issue, but I started retraining after in the start train every photo, even the tiny small ones. Do the detection get better if I just train the pictures where the face is very visual in the frame, front, and side, and skip those small pictures?

[2021-07-26 04:50] jakowenko commented on #65
I would suggest to only use high quality images for training. On mobile the upload button on the train tab allows you to access your phones camera. I've been taking selfies for images of myself and using other high quality photos for friends.

Try not to use ones with tiny faces, that will probably lead to more false positives.

[2021-07-26 09:06] alekslyse commented on #65
That is interesting, as 99% of the photos taken by a surveillance camera cant really be called high res. I would suggest this being a tip in the documentation for initial training. Maybe it would be possible to implement a video training, where you could go around a person in a 360 degree with a high res camera (ex new phone), and double take extract every frame and train for that person - that wo

[2021-07-29 08:31] Haloooch opened #66 "Ability to delete Person"
Currently you can add a new person, but I don't think there is a way to delete a user.

I originally set the names as 'firstname lastname' the space caused some problem in HA, as a result I recreated them as 'firstname_lastname' but I don't seem to be able to delete the original names. While you could force _ where there are blank names I think the ability to delete would be more valuable.

[2021-07-29 19:19] jakowenko commented on #66
I can work on getting this added in and try to better handle names with spaces in them. In the meantime, you can delete that folder from your host machine. Deleting `./storage/train/FOLDER NAME` should remove it from the dropdown.

[2021-08-02 03:04] jakowenko commented on #66
Hey @Haloooch, I just pushed a new beta build that should resolve both of these issues. When all the images are untrained for a user, the button will change to "Remove". This will then allow you to delete that folder and any images within it.

<img width="420" alt="Screen Shot 2021-08-01 at 11 02 45 PM" src="https://user-images.githubusercontent.com/1081811/127799030-a19f9340-7eb7-4296-af04-493565

[2021-08-02 10:24] Haloooch commented on #66
Very cool, thank you! Life is getting in the way of HA at the moment, so suspect I will not be able to try the new beta till later in the week. If I do experience any issues I will let you know.

[2021-08-02 10:40] dimitribellini opened #68 "Everything seems to work but Double Take did not catch snapshot"
Hi,
Thanks for your great project!
I have configure on my HomeAssistantOS (v2021.7.4) the Frigate Software (v.1.13-0.8.4 - Coral TPU) and a Vm with DoubleTake (v.0.9.1) and CompreFace (v.0.5.1).
The training part of Double Take is working great and also for some days the integration with Frigate MQTT Snapshot but from some days the Frigate part is not working anymore...
I have tested all the possi

[2021-08-02 15:12] dimitribellini commented on #68
Was my fault! as suggested by Jako on discord...
I made a wrong configuration for MQTT in Double Take config.
The right one is :
[code]
Without **"mqtt."**

Thanks so much for the help!

[2021-08-03 13:12] dimitribellini opened #69 "Frigate Error - Connection already opened"
After i have finally a Double Take instance work, thanks to Jako, i now come in this scenario.
My Frigate docker container inside the "homeassistant OS" after some time (2/3 hours) seems freezed, looking to the container logs i can see a lot of message like:

------------------------------------

`2021-08-03T11:21:16Z {'REMOTE_ADDR': '127.0.0.1', 'REMOTE_PORT': '40420', 'HTTP_HOST': 'ccab4aaf-frig

[2021-08-03 13:23] jakowenko commented on #69
Hey @dimitribellini, what is your `frigate.attempts.snapshot` set to? If you're running Frigate v0.8.X I'd recommend setting it to `0`, which it should be by default. There did seem to be a connection issue with the Frigate API that would cause it to crash. Setting snapshots to `0` fixed that for me. I'm running the beta version of Frigate v0.9.0 and that issue seems to be fixed, so you can safely

[2021-08-03 13:36] dimitribellini commented on #69
Hi Jako,
thanks so much, as i usually i made a wrong configuration... :-)
below my original conf of DoubleTake:
`  attempts:
    latest: 5
    snapshot: 5`

I have add "snapshot to 5" only because i have notice that some camera do not receive "snapshot" from Frigate, have you never saw that case?
Thanks so much

[2021-08-03 13:51] jakowenko commented on #69
Remove snapshots for now from your config and that should stop Frigate from crashing.

There's three types of images Double Take will process from Frigate.

The MQTT snapshot image, which is different than the one we are talking about above and then the `latest.jpg` and `snapshot.jpg` image which comes from the actual event.

Frigate seemed to have a connection bug when processing that `snapshot.j

[2021-08-03 14:26] dimitribellini commented on #69
Ok, i follow your suggestions :-)

What about the problem of not receiving all "events" coming from Frigate? Is probably related to the "connection" problems?
Thanks

[2021-08-03 15:27] jakowenko commented on #69
Have you verified that Frigate is publishing to the snapshot topics for the cameras that are missing? Double Take just watches for messages on those topics and then will process the image.

[2021-08-03 16:54] dimitribellini commented on #69
Yes the snapshot is coming from Frigate, i use this command:
`mosquitto_sub -h 192.168.0.40 -u xxxx -P xxxx -v -t frigate/<CAMERA>/person/snapshot`

but on DoubleTake i did not see all the "snapshots" image, sometime yes sometime no :-)

[2021-08-03 16:56] jakowenko commented on #69
Is there a chance that no person was found in that image so it was never saved by Double Take?

[2021-08-03 16:58] jakowenko commented on #69
You should be able to look at the raw logs and see if MQTT messages are being processed for those cameras. They logs are in `/.storage/messages.log'

[2021-08-04 04:58] jakowenko commented on #52
Hey @Sborkahome, finally got around to implementing this.

Any errors from the API will be published to `double-take/errors`. Here's a sample of what one may look like.

Let me know if this will work.

[code]

[2021-08-04 13:28] dimitribellini commented on #69
Hi Jako, i have checked:
[code]
But on DoubleTake frontend i did not see some snapshots of these specific events.

[2021-08-04 13:31] jakowenko commented on #69
Is there a chance no person was found in the image?

[2021-08-04 13:38] dimitribellini commented on #69
Yes the message seems "void":

[code]

But it's strange because i was moving in front of the camera...
![image](https://user-images.githubusercontent.com/16684861/128190816-f03d7a34-ea30-4630-9c76-0fd3fceb61e2.png)

[2021-08-04 13:45] jakowenko commented on #69
Try doing it again and look at the camera for a few moments just to see if it gets you. It's not going to be perfect 100% of the time, but I'm surprised Frigate's MQTT snapshot image didn't have a better picture of you.

[2021-08-04 14:00] dimitribellini commented on #69
Try doing it again and look at the camera for a few moments just to see if it gets you. It's not going to be perfect 100% of the time, but I'm surprised Frigate's MQTT snapshot image didn't have a better picture of you.

That's also a tiny image, is that just the thumbnail for Frigate event?

Try turning on "live reload" on the UI as well so images come in without needing to refresh while you are

[2021-08-07 06:53] arcidodo opened #70 "status code 401"
latest version:

21-08-07 08:50:50 error: Request failed with status code 401
21-08-07 08:50:50 info: arco: queuing 0 file(s) for training
21-08-07 08:50:50 info: arco: training complete in 0.04 sec

i get this error, i cannot train.
manual upload an image is working tough.

beta:
yesterday i installed the beta version and i get this error:

21-08-06 18:56:25 error: Error: save url error: Request

[2021-08-07 12:53] jakowenko commented on #70
Hey @arcidodo, this should be fixed in the beta build that I just pushed. I missed adding an auth token to one of the calls if authentication is enabled. Let met know if that fixes it for you.

[2021-08-07 14:54] arcidodo commented on #70
Yes it is working! thx. but in the previous version the pictures in the matches section moves to the train tab if you train it to an person. but now it stays on both pages is this correct?

[2021-08-10 13:13] jakowenko commented on #70
Yes, that's correct. It just copies the image over.

[2021-08-11 21:06] #70 closed

[2021-08-12 04:13] maxi1134 commented on #62
Hi there,

I am experiencing this problem too!

I post to train "mikemyers" and it says it's queued, but the name never seems to be taught.
The name doesn't appear in the name list, and it's not matched when the same image is passed back.

Here a few images to help debug!

![image](https://user-images.githubusercontent.com/1342643/129137210-1e6fc3e3-0259-4795-8562-511fe527bb06.png)
![image](https:

[2021-08-14 14:51] Chreece opened #71 "Train tab get stuck on Training in Progress if Compreface is down."
Steps to reproduce:

- Stop compreface (by me, it needs to get restarted after reboot, even if I run it with the option -d on docker-compose)
- Select a person profile in Train tab
- Add a photo (+)

Now you have a screen like that anytime that you open Train Tab:
![Screenshot 2021-08-14 164337](https://user-images.githubusercontent.com/68458228/129450170-a2ccd822-3947-48e1-b05a-7c251e83bf8f.png)

[2021-08-14 14:55] Chreece commented on #71
Config:
`server:
  port: 3000

mqtt:
  host: mqtturl
  username: mqttuser(yeah sure)
  password: mqttpass(not really)
  topics:
    frigate: frigate/events
    matches: double-take/matches
    cameras: double-take/cameras

home_assistant:
  url: HAurl
  token: HAtoken

confidence:
  match: 90
  unknown: 40

objects:
  face:
    min_area_match: 10000

save:
  matches: true
  unknown: true

purge:

[2021-08-15 19:56] TheQue42 opened #72 "Need to configure cameras?"
Hi,

Sorry if I am thick, but I am a bit confuzed whether all cameras are auto-detected, since my first try at double-take, it seems it only fokuses on two of my four cameras in frigate.

The image in the README.md has a yaml-config example that also configures custom url and topic values for the cameras, but "how needed" this is, or when to use it, is not fully clear.

Somewhat related to the fac

[2021-08-16 05:22] jakowenko commented on #72
Hey there, thanks for checking out this project.

By default, if you want to watch for all cameras from Frigate you can just include this.
[code]

You don't need to configure anything that is a default, I include some samples in the README to show what's can be changed, but I don't do it on my personal setup, I usually just leave the defaults.

There's two Frigate snapshot images, one that can be

[2021-08-16 05:25] jakowenko commented on #71
Thanks for reporting this. I was aware of this edge case happening. I'll try to get a fix out this week. Is it still stuck for you? One thing you can try to do in the meantime to get it back working is to go to the train page and train a new image for a user to force the process to pick back up.

[2021-08-16 07:54] TheQue42 commented on #72
Hi, and thanks for a quick reply (and nice software :-) )

Frigate is configured, and the mqtt-snapshot config, and it seems to be working somewhat ok. But in HA, i've only found sensor.double-take_livingroom, and sensor.double-take_kitchen, but even though I've been making faces to my "front door" camera, (and got frigate clips recorded), I dont have a sensor.double-take_front_door value in HA.

[2021-08-16 09:28] Chreece commented on #71
Hey David 👋
Thank you for your response.
I tried to add another photo, the screen now stays in "Training in progress", only the numbers have changed ;)

[2021-08-16 11:34] thundergreen opened #73 "Config empty after save in browser"
I made some changes in the config via browser and the whole config is empty now. nothing in logs :(

[2021-08-16 14:25] Chreece commented on #71
I just saw the dimensions of the previous snapshot on my laptop.
Sorry for that, I was on my phone :(

[2021-08-16 19:36] jakowenko commented on #73
Did you happen to change the port? What version of Double Take are you on?

[2021-08-17 03:53] jakowenko commented on #71
Hey @Chreece, can you give the new beta build a try? Upon restarts any of those orphaned untrained records should be deleted. I also catch errors related to failed trainings better and will show them on the train page. Here's an example.

<img width="485" alt="Screen Shot 2021-08-16 at 11 51 53 PM" src="https://user-images.githubusercontent.com/1081811/129660955-beb6e8a4-1485-4bdd-9670-d1120e44f6b

[2021-08-17 08:32] Chreece commented on #71
I have downloaded the latest beta. If I will meet any difficulties I will reply. I don't want to test again the train process with compreface down, since I have already deleted all the train faces and the double-take db to get away that screen. It's a very time demanding- process to retrain all the faces and I would avoid it...

Thank you very much for your kindness, spending so much private time

[2021-08-17 13:48] jakowenko commented on #71
Thank you for all your kind words. I'm glad you find this project useful, it's been fun to build it and share with everyone. I'll close this issue for now and if you run into any other problems feel free to open up a new one.

[2021-08-17 13:48] #71 closed

[2021-08-19 14:09] TheQue42 commented on #72
Is there a way to increase debug-level?

I just came home, was identified as my wife, but there is still no sensor in home-assistant, known as sensor.double_take_rebecca, only sensor.double_take_taisto.

The mqtt log on the HA side at that time, only shows:

`2021-08-19 15:38:39 DEBUG (MainThread) [homeassistant.components.mqtt] Received message on homeassistant/sensor/double-take/front_door/state

[2021-08-22 18:39] poweredgenl opened #76 "/tmp filling up inside container - system does not purge automatically"
im noticing some behaviour specific in the /tmp folder of the double-take container. i noticed this because suddenly the directory becomes 10's of gbytes in size and the OS runs out of disk space.

Is this natural? some of the files i see in this dir:

1629476245.068447-s3lhd2-latest-4d0196c0-0698-4dc9-8560-c2f250f6fd2c.jpg            fece6499-e89a-45fb-b34f-56df5c27bec7.jpg
1629476245.068447-s3lh

[2021-08-23 15:32] jakowenko commented on #76
Hey @poweredgenl, thanks for reporting this issue you're having. Images are written to the /tmp folder before being processed, but I mistakenly thought the OS would handle cleaning up that folder when disk space was high. It seems like depending on the distro you're running on it's handled differently.

I'll probably need to include a cron job to delete images from that folder that are more then X

[2021-08-23 17:07] poweredgenl commented on #76
Hi @jakowenko .. thnx for the insight. So the dir i@ not needed for post processing...

Im not a native coder so suggestions are a bit so so..

1 use a cron...pro ..scheduled less constraints in processing..batch driven thus with high load not additional resource consumption...cons...with lot of files..system could prevent rm rf...like in my case...
2 transaction driven...could you implement a per

[2021-08-23 19:35] jakowenko commented on #76
I like the idea of transaction driven, after each event I'll delete the tmp image. Maybe on start I'll delete all tmp images too just incase any ever get orphaned due to an error.

[2021-08-23 19:47] poweredgenl commented on #76
Would be my preference too, transaction driven, in case a lot of movements aka detection occurs you want to finish the crud process in 1 flow rather then splitting. Keep me posted when you want to test..

[2021-08-24 12:51] MrksHfmn opened #77 "Get registered persons from DeepStack"
Hi! Is it possible to use the trained persons from DeepStack in Double Take? I registered the persons and faces over API in DeepStack. Can I somehow retrieve the information in Double Take?

[2021-08-25 00:21] D34DC3N73R opened #78 "Trouble with tokens - reverse proxy"
I have a bit of a strange issue that I've noticed with auth, reverse proxy, and tokens.

I have my HA notification using the following URLs for both preview and image links, just like the documentation.
`https://double-take.mydomain.com/api/storage/matches/{{trigger.to_state.attributes.match.filename}}?box=true&token={{trigger.to_state.attributes.token}}`

The preview image will show up in the not

[2021-08-25 04:22] jakowenko commented on #78
Hm...that's strange the preview shows but clicking the link doesn't work. You're sure the links are the same and there's not a small difference that would lead one to not work?

The tokens being different is ok, the UI has separate ones generated to load the images.

Could you post the YAML for your HA notification? Feel free to omit anything that is sensitive. I just want to make sure nothing is

[2021-08-25 04:26] jakowenko commented on #77
The images you trained into DeepStack will still be used with Double Take when images are processed. I know DeepStack's API allows you to pull the names of the registered faces, but not the images used to train them, so it would probably be hard to just integrate it right into the current Train page since not all of the data is available.

If you didn't train a lot of images, it might just be easi

[2021-08-25 05:23] D34DC3N73R commented on #78
Sure, here's the automation.
[code]

[2021-08-25 05:32] jakowenko commented on #78
Ya those match up, so should be good. Just thought of something as well, the token for these notifications is currently only good for 1 hour. Is the notification you are clicking on older than 1 hour? If so, that would explain it and I could increase the time or make it adjustable.

[2021-08-25 05:35] jakowenko commented on #76
Just pushed a new build to `jakowenko/double-take:beta` if you want to try it out. All processed images are now saved to `/tmp/double-take` and are deleted after processing. On server restarts the entire folder is deleted and recreated for extra cleanup.

[2021-08-25 05:37] poweredgenl commented on #76
Great! Will test tonight after work so expect a bit delay...CET timezone over here.

[2021-08-25 05:51] D34DC3N73R commented on #78
That could definitely be the issue. Making it adjustable seems ideal. Personally, I would have mine configured for around 12 hours.

[2021-08-25 05:55] MrksHfmn commented on #77
Thank you for your reply! I already did some training, but it doesn't matter ... I can only upload one image at a time in the browser. Maybe you could allow more here?

Can I copy all my images from the peson to ./.storage/train/${name} and run the training on the web UI?

[2021-08-25 21:53] ragenhe opened #79 "Use Frigate mask definitions"
Great project!! Thank you for all the work.

It would be great if we could copy / paste motion masks from our frigate setup.

Or maybe there is something already similar.

My problem is Face Detection is running against my TV as a second person.

[2021-08-26 11:40] kanemari opened #80 "unauthorised error using API"
hi there,

I have enabled authentication on the UI which I understand is also meant to enable authentication on the API.

I have validated that the HA entities for double_take_name have the token attribute in them, and that HA is passing token={{trigger.to_state.attributes.token}} into the image URL, but I always get an 'unauthorised' error.

have tried manually pulling the attributes from the HA

[2021-08-26 21:21] ragenhe opened #81 "Question: Does mobile train work with iphone (take photo or upload from library)?"
It doesn't matter how I ingest the photo to train with, deepstack confirms success and Facebox says no face detected.

What am I missing?

No errors in the facebox container.  It just won't detect/train.

I am starting it within docker-compose.

[code]

[2021-08-30 03:46] jakowenko commented on #78
Hey @D34DC3N73R, I pushed a new beta build with the ability to adjust this. I'm defaulting it to `24h` currently, but can be adjusted by adding this to your config. The value is expressed in seconds or a string describing a time span [zeit/ms](https://github.com/vercel/ms). Let me know if this resolves your issue.

[code]

[2021-08-30 03:46] jakowenko commented on #80
Hey @kanemari, I pushed a new beta build with the ability to adjust this. I'm defaulting it to `24h` currently, but can be adjusted by adding this to your config. The value is expressed in seconds or a string describing a time span [zeit/ms](https://github.com/vercel/ms). Let me know if this resolves your issue.

[code]

[2021-08-30 03:47] jakowenko commented on #79
I pushed a new beta build to dynamically adjust the mask if a size is passed. I also slightly changed the format of the mask definitions. They look like this now.

[code]

[2021-08-30 04:25] jakowenko commented on #77
FYI, just pushed an update to the beta build that should allow you to upload multiple images now at once.

[2021-08-30 09:27] poweredgenl commented on #76
looks like disk is not beeing filled up anymore... so a close from me ...

[2021-08-31 10:31] mi4mac opened #82 "Question: Compatible with Compreface 0.6.0"
Hi Jakowenko,

is your beta release already compatible with compreface 0.6.0?

Thanks in advance

[2021-08-31 13:21] jakowenko commented on #82
Hello @mi4mac,

Yes, both the latest and beta Docker images should work with CompreFace `0.6.0`. I'm running it on my personal setup and haven't had any issues.

If you run into any problems, feel free to open a new issue.

[2021-08-31 14:20] kanemari commented on #80
cool, thanks! will test this coming weekend when I get some time.

stupid question, but how can I pull the beta branch through docker?

[2021-08-31 14:34] jakowenko commented on #80
This is the beta Docker image `jakowenko/double-take:beta` you can use.

[2021-08-31 16:53] Enclavet opened #83 "Changing Attempts Timing/Delay"
Curious about the way double-take is grabbing snapshots/latest files from the API. A few things I do want to mention:

When trying to grab latest files and grabbing snapshots from MQTT, double-take does this in parallel. What happens is that frigate will use a snapshot that might be older than the match found from the latest.jpg processing thread. Meaning if there are a multiple cameras, and doubl

[2021-08-31 18:04] ragenhe commented on #79
This is working like a charm @jakowenko!!

[2021-08-31 20:10] jakowenko commented on #79
Awesome! I'm glad to hear!!!

[2021-09-01 16:46] jakowenko commented on #83
Hey there, thanks for checking out the project and the detailed issue. Let me try to explain some of it as well and make sure we are on the same page. The processing of the Frigate images / MQTT image is a little confusing and the MQTT one is done separately then the event driven one.

### Frigate publishes a message to `frigate/events`:
Double Take then begins to process this event using images f

[2021-09-01 18:58] Enclavet commented on #83
Your response is spot on.

Processing Attempts
Having a tunable delay would probably be helpful for most people and the easiest to implement. I might just compile your code with my delay hardcoded to test it out. Basically I need to put a delay that will take into account the average processing time of my detector (in my case 100-150ms) + the time a new frame might be recorded (5fps would be every

[2021-09-02 04:48] jakowenko commented on #83
I pushed a couple updates to the beta build to help address these issues. Let me know what you think.

[code]

[2021-09-02 07:58] D34DC3N73R commented on #78
Thanks, that did the trick!

[2021-09-02 07:58] #78 closed

[2021-09-02 16:25] ozett commented on #39
What is the correct syntax in docker-compose.yml to use the double-take-config.yml? Ist there a documentation?
is it done like in frigate?
[code]

[2021-09-02 19:05] Enclavet commented on #83
I installed this in the morning and have been testing it in the morning. I set it to 100ms delay + increasing the attempts to 40 tries (I know probably taxing my system). I see that my detection is around 4-5 frames per second for 9-10 seconds which pretty much covers all/most frames in the event.

Thanks for the change.

[2021-09-02 19:56] mr-manuel opened #84 "Feature Request: Move image when trained and update name"
Hello,

first of all, thank you for your amazing work!

I would like to propose this function: When in the config the setting `save.unknown` is `true` (default) and I train an unknown image in the matches section it would be great, if the image is automatically moved/copied to `.storage/train/{matchname}`.

It would also be nice if a "modified" (trained/untrained) image would be reevaluated again,

[2021-09-02 20:17] jakowenko commented on #39
This should be all you need. I'll make sure to update the docs if it's not clear or incorrect. The below snippet is what I use on my home machine.

[code]

The file should then be under `./storage/config/config.yml` on your host machine.

[2021-09-03 06:44] jakowenko commented on #84
Hey @mr-manuel, thank you for checking out my project and for the feature suggestions. I think it makes sense and is a great idea so I took a stab at implementing the reprocessing functionality.

Any images you train from the matches page will be copied and used on the training page. This was already built in and should be working. I believe that is what you were describing for the first function,

[2021-09-03 07:52] ozett commented on #65
Maybe a more precise question shoud be:
What Train-Fotos are needed for best recognition results?
Size, Quality, Orientation, Light., count/number ...?

[2021-09-03 08:19] ozett commented on #83
What about making a Feature-Request to Frigate to send .jpg-image with every /MQTT/event/ ?

(Also for some other reasons:
This way one could benefit from the event-context (also for other purposes) and get images over single channel without pulling them.)

[2021-09-03 08:28] mr-manuel commented on #84
Hi @jakowenko, thank you for your fast answer!

First function: Yes that was exactly that what I was describing. But somehow this don't work. The images don't get copied after training in the matches section to the train folder. In the logs I can't find any error. Probably something with permissions, even if Double Take managed to create the folders? For testing purpose i also changed the folder p

[2021-09-03 08:36] #82 closed

[2021-09-03 10:24] Chreece opened #85 "Feature Request: Compreface Mask (Covid19) recognition."
Hello there!

I just read in the new features from Compreface 0.6.0:

`Mask recognition plugin. We added a new plugin that returns if the person wears a mask and if yes - if it's worn correctly`

I know that 99% don't need this feature, but if we have this info available, why not have double-take read it?

Have fun!

[2021-09-03 11:50] kanemari commented on #66
just adding to this one. I have tried deleting trained faces, but it doesnt seem to remove them from the database. I have even gone to the point of deleting the database, manually removing the all training directory 'names' and manually adding all training images apart from the one I wanted removed back again, but it still detects the deleted face in images.

e.g. started with 3 faces - joe, peter

[2021-09-03 12:04] kanemari commented on #80
appears to be working!

[2021-09-03 13:05] ozett commented on #39
but only after first start and filling in the config with the gui. maybe that should be stated in the docu?
i first assumed i had to have the config already for the first start. but thats not needed beforhand, as i found out later

[2021-09-03 14:57] jakowenko commented on #66
Hey @kanemari, untraining from Double Take to CompreFace only happens when you use the UI / API. Once the image is trained, some of that information resides in CompreFace. So just deleting the files / database on the Double Take side won't do anything.

Here's what I would do if you want to start fresh.
- Create a new API Key in CompreFace and only handle training / untraining from the Double Take

[2021-09-03 15:12] kanemari commented on #66
I did use the UI at first, but it left the folder behind in /train and still detected them in the images even though their name wasnt listed in the UI anymore. anyway, have created a new recognition service in compreface and retrained the images / faces I want to keep. hopefully that will do it.

[2021-09-03 15:56] jakowenko commented on #66
Try doing it again with the newest beta image. I caught a bug last night in regards to the training page and just the untraining of CompreFace photos where it didn't realize a trained one was actually trained.

[2021-09-03 15:58] jakowenko commented on #84
The file name changes when it's copied, just to make sure it doesn't overwrite an existing file in the trianing folder. The file sizes for manuel and ashely seem to match up to file sizes in the matches folder. Are you sure when you go to the Train page in the UI that you don't see the one that was just trained?

[2021-09-03 16:46] mr-manuel commented on #84
In my case the files aren't copied. Therefore I copied the files manually for testing. After I train an image from the Matches tab I can't find them under the Train tab.

1) I go to the Train tab -> select ashley on the top left -> select the pictures with ashley on it -> click on train on the top left -> confirm with yes -> after a few seconds the "2 files trained for ashley" message appears on t

[2021-09-03 17:45] Enclavet commented on #83
Frigate already sends a "best" snapshot with the MQTT/event/.

The problem is Frigate triggers an event based on a "Person" object detection because their models only do object detection. It would be better if they implement a face detection model to have a Face event that could be sent to Double-Take.

[2021-09-03 18:36] ozett commented on #83
but it seems the .jpg is missing in the mqtt/event payload...
https://github.com/blakeblackshear/frigate/issues/1560

fully agree:

or a way to feed custom models from motion-trigger?

[2021-09-03 18:52] jakowenko commented on #84
Hm, that's strange. Here's a GIF of how it works on my computer. You can see the train folder is empty and also shows no results on the UI. When I train an image it copies it over then when I go to the train page on the UI the trained image is there as well.

What version of Double Take are you running?

![2021-09-03 14 49 04](https://user-images.githubusercontent.com/1081811/132053343-9acd7c83-c7

[2021-09-03 19:46] mr-manuel commented on #84
I see. Very strange. Can I enable advanced logging somehow?

I‘m using the latest beta released 6 hours ago.

[2021-09-03 19:57] jakowenko commented on #85
Hey, I just pushed a new beta build to include support for this. Below is an example of how it's displayed in the UI. I used the test image CompreFace had in their docs.

Plugins can be passed in the config this like.

[code]

![Screen Shot 2021-09-03 at 3 51 02 PM](https://user-images.githubusercontent.com/1081811/132059405-54e04516-0dd6-43b5-8ca6-a80f59ce4ca9.png)

[2021-09-03 20:07] jakowenko commented on #84
I don't have any advanced logging in there at the moment. There is a messages.log file that you could send me on discord if you'd like. That should include all the logs from the system. I can see if anything stands out to me in there.

Very strange though, I haven't heard of this happening to anybody else.

[2021-09-03 20:15] jakowenko commented on #65
Hey @ozett, it's hard to say exactly because all of that depends on the detectors you are using.

Someone in a previous issue told me they read this about CompreFace, so it's probably a good general idea.

I personally have around ~30 images of myself. I use the train page on the UI and upload selfies of myself with my phone. This way I get high resolution images of my face, which should provide t

[2021-09-04 05:39] jakowenko commented on #84
I should be able to get some verbose logs in early next week. If you aren't able to figure out what's going on over the weekend, hopefully some more logs will help us debug.

[2021-09-04 06:39] Chreece commented on #85
Sweet! I will definetely check it out

[2021-09-04 08:08] ozett opened #86 "Beta-Versioning on Docker. What is the latest/Update available?"
i pull the beta from docker, but it says there is an update available.
somehow unclear what ist the "really" latest. may there would help a clearer versioning?

![image](https://user-images.githubusercontent.com/5937811/132087695-d76c355d-b212-4dcb-95a8-64c7e7385313.png)

[2021-09-04 08:22] ozett commented on #65
thanks for reply.

i will check for faces (not whole images) bigger than 160x160.
what is minimum count for good training results, 30 images per person?

is there also a best practice advice for the face orientation to get better training results:
means different shooting angles, ie. up/down, side, front, a bit inclined, lack/white.... ?

what helps the compreface-detector? Or do i have to experim

[2021-09-04 08:52] ozett commented on #65
previously i had some simple custom-code running with media-pipe detection of face-mesh.
may i use the face-mesh hits to extract faces and use them for training... !?!

![image](https://user-images.githubusercontent.com/5937811/132088817-78be3124-a3c2-4eac-8a57-49c9605f38c5.png)

[2021-09-04 10:34] mr-manuel commented on #84
I think now I got the problem. I'm publishing Double Take with a reverse proxy (Traefik). When I train over HTTP (http://doubletake.local) all works fine. But when I'm training over HTTPS with a internal certificate (https://doubletake.local) it does not work and I get this error in the logs:

[code]

Maybe we need an option to ignore untrusted certificates?

[2021-09-04 12:54] jakowenko commented on #86
I pushed a new beta built last night with a bug that I didn't have time to fix, so I had run a previous build to not have a broken beta published. I removed the GitHub builds in question, so the update icon should go away now.

[2021-09-04 17:56] mr-manuel commented on #84
If I put the containers in an isolated network without access to the outside (so no external DNS available, access only through reverse proxy) I get this error:

[code]

This tells me that the saving mechanism is not working internally but an internal process is calling the hostname from the HTTP request. Is this an expected behavior? In my eyes it should use localhost or a host/ip from the config

[2021-09-04 20:58] mr-manuel opened #87 "Enhancement: Increase width of name field"
Could you please increase the width of the name field or make it responsive so that it takes the half width of the column? If you have first and lastname they unfortunately won't fit.

https://github.com/jakowenko/double-take/blob/0e1df101ddc0ffaa188a4410c2923e2e60f43f0f/frontend/src/components/Header.vue#L429

[2021-09-05 09:57] #86 closed

[2021-09-05 10:07] ozett opened #88 "Question: How to start RE-Train for new images in training-Folder?"
i am filling up the train-images-folder with new images.
How do i start re-training of all folder?
or of a certain single folder, after coping images into it?

If i switch the dropdown to a certain "person/folder", the sync-button is still inactive.
do i have to restart the whole containter for that?

![face-retrain](https://user-images.githubusercontent.com/5937811/132122933-2383d538-8271-4976-8b

[2021-09-05 10:31] ozett opened #89 "Enhancement: Gui-Selection of Train-Images"
On the train-Tab i can select the folder for the Person/Face.
But the page shows only general all images, regardless of that selection.

I would like to see only images for a selected Person/Folder.
May there can be a selector? (the sync-button does not help)

(and maybe for DEBUG on the config-page the doubl-take version for simple copyANDpaste ?
i am on latest beta today, but lack some versionin

[2021-09-05 11:09] ozett commented on #83
New API event/endpoint: clips!
https://github.com/blakeblackshear/frigate/discussions/1502#discussioncomment-1281356

[2021-09-05 11:33] ozett opened #90 "Question: Compreface RED vs GREEN?"
i had a match, and compreface-button is green,
i had somehow another match, re-recognized, and compreface state correct person, but is in RED.
why is this?

![image](https://user-images.githubusercontent.com/5937811/132125190-5abcb4e7-4c10-4b2d-8511-bee681bc3958.png)

[2021-09-05 15:19] jakowenko commented on #90
This is likely due to the `min_area_match` value being too low in the image in the right. To be considered a match the percentage and area of the bounding box both need to match the defined values.

The default value is `10000`, which means any image below 100x100 won't be counted as a match. I have a lower value set on my personal setup. This is how you can override the default.

[code]

[2021-09-05 16:15] ozett commented on #90
i will give this a try.

maybe helpful to anchor the Readme.md section with this options, to link to in such issues?

another one: could be FR to have such settings per camera?
because some cams shoot a face from far distance, other from near, so the value could be camera-specific different?

[2021-09-05 18:06] ozett commented on #52
this topic about mqtt is general FR,

so i would like to get the matched image with mqtt, like frigate itself does on snapshots.

may you/i make it a FR ?

![image](https://user-images.githubusercontent.com/5937811/132136981-833be2dd-36db-42fe-a6b6-8bd31b395635.png)

[2021-09-07 02:17] jakowenko commented on #52
Hey @ozett,

I pushed a new beta build with support for this feature. A base64 encoded string will be returned from the API and published to the MQTT topics. Let me know if this will solve your issue 🍻

The available options are `true`, `false`, or `box`.

`true` - source image
`false` - disabled
`box` - source image with bounding boxes of results

[code]

[2021-09-07 03:52] jakowenko commented on #89
I've updated the training page to filter the results when the dropdown is used and also pushed an UI change to the training page to allow you to quickly copy the version. Here's a screenshot of how it looks. When you hover and click it should copy to clipboard.

![Screen Shot 2021-09-06 at 11 51 20 PM](https://user-images.githubusercontent.com/1081811/132281718-fb2095d8-710f-4644-82ee-e227da031e67

[2021-09-07 06:31] jakowenko commented on #90
What do you think of this update on the matches page? Anytime a result is considered a "miss" then the output of why it was a miss will be below the row. You can also now hover over the green/red label to show what it means.

![Screen Shot 2021-09-07 at 2 30 27 AM](https://user-images.githubusercontent.com/1081811/132295414-eb74585a-45ca-4abf-a3d6-f6b49220425d.png)

[2021-09-07 08:05] ozett commented on #52
thanks for putting this in that fast. Great! And Great work at all. 💐

i pull the only "beta" called beta and now have this config:
[code]
is there a subtopic for the image?  like ``` double-take/matches/image``` ?
i have this configuration:
[code]

[2021-09-07 08:14] ozett opened #91 "False-Positives: How do i limit? Zones?"
Is there a way to map out certain areas only for face-detetion?
or define zones? Like in frigate, but only in double-take for faces?
i have a lot of false positives of the cat feeder as a face ... 😹

![image](https://user-images.githubusercontent.com/5937811/132309440-62d1ce08-ff66-4e92-8ee7-351fc8f88a5f.png)

[2021-09-07 08:28] ozett commented on #89
Great, thanks! its working.
Now i have the config in double-take 😄
I had to do a explicit pull to grab the new docker-image.
maybe because versioning has not changed?

![image](https://user-images.githubusercontent.com/5937811/132311451-4faf4957-d074-4f26-956d-288c98a4c7d8.png)

May the selection for the dropdown could be configured in the configuration?
maybe not everybody likes this like me as a

[2021-09-07 08:35] ozett commented on #90
detail information below the red/green matches button is great!

i think the hover dont help. because red is obviously a miss.
the hover would only help, if it gives precise information about the cause for the miss.
like ``` miss of low confidence ```  or ``` miss of low box & low conf``` , but is already stated below.

maybe this details should be also written in red color?
or the box information

[2021-09-07 09:05] ozett commented on #91
maybe with the zones update 8 days ago ?
https://github.com/jakowenko/double-take/issues/79#issuecomment-907991482

[2021-09-07 09:12] ozett commented on #91
i can try, but the image.size option dont seem clear to me.
in my double-take the mqtt-image.size is not defined. so it defaults to 500?
https://github.com/jakowenko/double-take#configuration

what size should i put in for mask?
and i would define the mask in the frigate ui with the original cam-image dimension.
does this work that way?

[2021-09-07 09:33] ozett commented on #52
got one:
![image](https://user-images.githubusercontent.com/5937811/132321662-596ffa65-a9b7-4b16-b8fd-9253541b3592.png)

[2021-09-07 18:09] jakowenko commented on #91
The size is for the stream that's coming into Frigate. In my case all my cameras are 1080p, so I used `1920x1080`.

This is needed to dynamically adjust the mask based on the size of the image Double Take is processing. You can define the mask in Frigate's UI, but you shouldn't need to save it there. But you can copy the values in Double Take.

If you want the mask applied to MQTT images, then you

[2021-09-07 18:21] jakowenko commented on #52
Awesome! Does it seem to be working for you? I figured it would be easier to have the base64 image on the same message rather than a separate one.

[2021-09-07 18:29] jakowenko commented on #84
Hey @mr-manuel, sorry I was out of town for the weekend.

You should be able to disable the self signed certificate warnings by adding this to your docker-compose.yml file.

[code]

The training endpoint takes a full image path, to make it dynamic for images that live outside of Double Take along with images from within. But this seem to cause more problems when trying to train from within the UI

[2021-09-07 18:49] ozett commented on #52
what a pity, i worked only this one time i showed above.
but the gui showed more matches. nothing came over mqtt.
i was to restart double-take, but may that is a bug?

i subscribed with mosquito on cli and got again the first and only message
[code]

![image](https://user-images.githubusercontent.com/5937811/132395595-85a1a554-cc66-48ec-a271-3423c4605367.png)
what about the red-matches. should the

[2021-09-07 19:25] ozett commented on #91
ok. i see.
i defined the image-dimension explicitly in frigate-config.yml to get it working without ffmpeg error.
so i will transfer that image-dimensions to the double-take config in try it ou. i come back with results...
thx

[2021-09-07 20:28] jakowenko commented on #52
Is that command right? That didn't work for me, but this showed MQTT messages coming in.

`mosquitto_sub -v -t 'double-take/#'`

[2021-09-08 05:23] ozett commented on #52
my mqtt-topics are set to start with "/".... you have to adjust yours...
![image](https://user-images.githubusercontent.com/5937811/132450973-f1c7015b-301a-47c9-83cb-40445fd1e653.png)
[Littel Info how to subscribe to all topics](https://stackoverflow.com/questions/32904012/how-do-i-subscribe-to-all-topics-of-a-mqtt-broker)

[2021-09-08 05:35] ozett commented on #52
there is a debug filter for mqtt-messages from double-take.
not all matches are coming in with mqtt.
seems that some matches are missing.
How do i debug this more? may you check the code?

![image](https://user-images.githubusercontent.com/5937811/132452044-0f7d9fbe-6f15-45ef-9f3f-5db5e1bef275.png)

FR: absolute time/date written right behind the past time since match maybe helpful

[2021-09-08 07:09] kanemari commented on #66
seems to be working now, thanks!

[2021-09-08 10:39] ozett commented on #52
maybe mqtt can send every time? even "false-"matches?
i could than filter at the receiver in node-red if i want them..

![image](https://user-images.githubusercontent.com/5937811/132495030-3ca9cbf0-ed52-482a-b2f1-9f6847adbc33.png)

this are the flow-nodes:
![image](https://user-images.githubusercontent.com/5937811/132494271-a2a26b7e-7afa-4b7b-979e-06ec4f9e39d9.png)

[code]

💚   sending image with

[2021-09-08 13:09] jakowenko commented on #52
Thanks for the detailed info, MQTT should be sent messages for every match/miss. I haven't experienced the inconsistencies you are talking about, but I will look more at that code tonight and try to get my setup similar to yours to compare. I'll report back what I find.

[2021-09-08 15:42] ozett commented on #52
after some fiddling i have a working flow
to get matching images via mqtt to node-red ->
and to send me telegramm-faces

![image](https://user-images.githubusercontent.com/5937811/132540872-e1660a3d-6f7b-43a7-af5b-7dbecb4cca52.png)

[2021-09-08 16:12] ozett commented on #52
at the moment i trigger on base64-image in the mqtt-flow. (assuming that there is always an image )
maybe for misses thats missing. i did not check this detail yet.

[2021-09-09 05:07] jakowenko commented on #90
I slightly changed the UI and decided to put the messages in a tooltip to reduce the height of those cards. I like the idea of using red to indicate what was missed, what do you think of this?

![Screen Shot 2021-09-09 at 1 05 35 AM](https://user-images.githubusercontent.com/1081811/132626070-c7663b22-ac36-48ee-a9a8-64c555e5b036.png)

[2021-09-09 05:25] ozett commented on #90
looks good. i will try how this feels in my checking daily routine
can i pull a new beta?

[2021-09-09 05:58] jakowenko commented on #84
I just pushed a new `beta` build which should fix this for you. The API will copy the image now instead of trying to download it. This should fix the errors you were getting due to the reverse proxy and certs.

Let me know when you test this out if it works.

[2021-09-09 06:00] jakowenko commented on #87
Hey @mr-manuel, I increased the width of both the dropdown and text box on desktop and mobile.

I don't want it to span half the page because it would look a little strange and I want to make sure there's room for the other buttons in the toolbar to fit within a single row.

Hopefully this new size works better for you!

[2021-09-09 06:00] jakowenko commented on #90
Yes, the new beta should have it.

[2021-09-09 06:08] jakowenko commented on #89
@ozett new take on this idea. You can still click on the "Double Take" text to copy the version, but I don't display it anymore since it's also in the dropdown with a link to Github. I also added a button to copy the entire config and it redacts any passwords or secrets when doing so.

Should make it easier to share a config if it's needed for debugging.

![Screen Shot 2021-09-09 at 2 06 48 AM](ht

[2021-09-09 06:31] mr-manuel commented on #84
No problem. Thank you very much!

I tested it and it works. It even do not copy an image again, if it was already copied. Before it copied an image over and over again, if I was training the same image multiple times.

In the beta from about 30 minutes ago I found some "HTTP 421 Redirection" issues, but now with the latest beta (released 5 minutes ago) it did not happen again.

Problem solved, tha

[2021-09-09 06:32] #84 closed

[2021-09-09 06:34] mr-manuel commented on #87
Yes, thank you!

[2021-09-09 06:34] #87 closed

[2021-09-09 07:17] ozett commented on #90
lots of small-area detection are matches.
i know the category-detection is correct
.. what to do about this?

![image](https://user-images.githubusercontent.com/5937811/132640294-8a44ba3a-9e96-4437-ad94-4d2097956823.png)

[2021-09-09 07:18] ozett commented on #91
zones seem to work.
glad that they show up !  👍

![image](https://user-images.githubusercontent.com/5937811/132640592-71b8ec2c-e77b-4fbc-9495-b758c9285ac2.png)

[2021-09-09 10:40] ozett commented on #89
the result of the click-function is helpful.
but very secret to find...
How do one know to click there and dont expect something dangerous?

![image](https://user-images.githubusercontent.com/5937811/132671578-dfcc5102-7732-4f34-a23e-73cfdb99d1fd.png)

[2021-09-09 12:28] ozett opened #92 "2x False-Positives in 1 Snapshot. How to retrain faces seperatly and not together?"
i have 2x wrong matches in 1 snapshot.
i hopt that retraining manually helps the next time.
but how do i retrain 2 faces in 1 images seperately?

![image](https://user-images.githubusercontent.com/5937811/132685658-df08184a-3995-48b2-898f-f136b1f3b630.png)

[2021-09-09 13:08] jakowenko commented on #92
There isn't a way from the UI to train an image with multiple faces. The detectors will reject the image because there's multiple faces in it, so the best way would be to manually crop them then upload them to training like you did.

Trying crop images with multiple faces and all of that from the UI is probably going to be a bit more than I want to support right now.

[2021-09-09 15:00] Chreece commented on #92
Or... What if we could crop the images direct in double-take's UI and train them direct?
WIN-WIN (you David, loose a some of your free time :) )

[2021-09-09 16:42] ozett commented on #92
i am on the latest betan and can already train single images from the gui.

a way to go would be to make the detection box clickable and save that face to the respective train-folder.
but this happend for the first time, means seldom. so its ok to train manually..

[2021-09-09 18:09] ozett commented on #91
filtering out face-detection with a mask seems not to work. what am i missing?
How could a face be detected, if i put a mask for non-detection over that region?

![image](https://user-images.githubusercontent.com/5937811/132739591-9187cb33-37ed-4be8-a986-dc02c70d4c64.png)

[2021-09-09 19:21] jakowenko commented on #91
What was the "type" of that image on the left without the mask. If you have the mask visible and it's not shown in the image it means it wasn't applied to that one.

Is that the mqtt image from Frigate?

[2021-09-09 20:12] ozett commented on #91
hmmm i can check it there is a difference,
but i think all images for doubl-take come the same way from frigate.
thats why i was wondering. i can check on detail tomorrow...

[2021-09-09 23:42] Haloooch commented on #52
@ozett Don't mean to hijack this conversating and I know this is bug reporting not a forum, but any chance you can share the flow above. I am getting base64 images in all messages but when saving to disk the images are corrupt.

[2021-09-10 03:32] jakowenko commented on #90
How are you hoping to treat that image? Because you have the `min_area_match` set to `2500` it won't ever consider a result a match if the area is smaller than that.

[2021-09-10 06:24] ozett commented on #52
me, too. took me some hours to get a working flow. i prepare shraring here. stay tuned

[2021-09-10 06:36] ozett commented on #52
took me some time and kindly little help from telegram-node maintainer until the flow did not save the image, but sends from buffer. see that in the function-node.

![image](https://user-images.githubusercontent.com/5937811/132810404-b6c7f464-d2ac-4707-932a-3223d3cff8a3.png)

<details><summary>CLICK ME</summary>
<p>

[code]

</p>

[2021-09-10 06:39] ozett commented on #90
i can test to set min-area that low <600 to get all small faces.
will see if that causes more false-positives... thx, it try and i will report back, until than on hold...

[2021-09-10 07:33] ozett commented on #90
i can zone-out same areas, but to prevent from false-positives i need a ```min_area_match``` per camera.
the general value hits all cams, but others cams a fine with that value.

make a FR: ```min_area_match``` per camera.
![image](https://user-images.githubusercontent.com/5937811/132817242-92ea7fcd-2627-40d2-9eeb-8c59da40b21c.png)

[2021-09-10 11:35] ralphmackinder opened #93 "Not processing MQTT events from Frigate"
Really weird issue - all setup fine, it connects to MQTT, sees frigate/events and frigate/+/person/snapshot topics.

Ive trained faces fine, but when the MQTT topics in frigate are updated, nothing happens. No errors, and no processing.

I see the double-take/ topic in my MQTT server, but it just shows 'online' and isnt publishing any new sensors in Home assistant for my trained faces.

Any advice

[2021-09-10 11:51] ralphmackinder commented on #93
closing issue - it was a config error in the MQTT section. the syntax in the readme vs the formatting on the config yml is slightly different.

[2021-09-10 11:51] #93 closed

[2021-09-10 13:54] jakowenko commented on #90
Ah makes sense. I can try to work on making it a setting per camera over the weekend.

[2021-09-10 14:15] jakowenko commented on #93
What was different in the syntax? I'll make sure to update the README to correct it.

[2021-09-10 14:59] ralphmackinder commented on #93
Hi, it was the mqtt username and password. I copied and pasted the 'mqtt.username' instead of just using 'username' under the mqtt indent.

Not really an error with the readme just slightly confusing. I think there is an another closed issue which is almost identical.

Everything is now working, except I dont see any images under 'matched' on the GUI. The images are in the .storage volume, but not

[2021-09-10 15:11] ozett opened #94 "FR Config-check?"
after editing  the config from the gui i realized no matches after some hours.
restarting did not help. so i checked to logs by incident. that was luck.
maybe a pre-start parser is needed?

i have it runnng, but could be hard for noobs...

![image](https://user-images.githubusercontent.com/5937811/132876054-a4af25c5-1608-4c29-8c63-003925604d4e.png)

[2021-09-10 15:25] ozett commented on #90
Great news! thx 🎁  😄

[2021-09-10 15:39] Chreece commented on #92
I was training images through my camera, but since I read a post of yours suggesting only to train via good quality images (i.e. phone shots), I'm having better results!
Thanks!

[2021-09-10 15:51] ozett commented on #92
good to know how to improce matches. 👍
i will try with person i know and can take an closeup image
must leave out faces that only came from the cams. hope to see differnences..

[2021-09-10 15:58] ozett commented on #89
![image](https://user-images.githubusercontent.com/5937811/132882419-5c62132b-a6c4-4462-9f53-15f402383f65.png)
putting new training images into the folder results in untrained images on the match-page.
all clicked and synced results in "untraining" and "trainig" again.

using the checkbox one-by-one for training results in queue-jobs for training.
would like to queue multiple images from the gui a

[2021-09-10 16:18] jakowenko commented on #94
I'll look to see if I can parse the config from the UI before saving it to catch this and return an error if it's invalid. It doesn't seem like it should be too hard to add in.

Thanks for suggesting this.

[2021-09-10 16:54] ozett commented on #90
maybe you send matches ```& misses``` over MQTT ? separate topic?

i could ignore ```min_area_match``` in a second_step if i get all the log-info over mqtt.
that way i could consider high-configdence a match in a second step myself

discovered the log and found this helpful . would be great to get it over mqtt...

![image](https://user-images.githubusercontent.com/5937811/132889684-cd914741-e4ae-4

[2021-09-10 19:03] ozett opened #95 "Question: Serious Warning - or only information? label is CAT or cow"
i got log infos like: `` label not a person, cow found```

regardless of the label. is the image processed?

![image](https://user-images.githubusercontent.com/5937811/132904226-a6251000-abf3-4ed5-b420-1520a34f1450.png)

[2021-09-10 20:26] jakowenko commented on #95
No, those images are not being processed. There is a Frigate [label check](https://github.com/jakowenko/double-take/blob/master/api/src/util/frigate.util.js#L52) that happens first to make sure the label is a person.

I can remove these though, or maybe hide them under another log level type. I'm working on adding verbose logs. So maybe this should be hidden by default.

[2021-09-10 20:34] jakowenko commented on #89
I realize this may be a bit confusing, I'll try to explain how it works.

You can always train single/multiple images towards a new person or existing person without affecting the currently trained images. Adding new images to the train folder manually just puts them on the trained page under that user in an "untrained" state.

Not all the detectors support just untraining a single image though, s

[2021-09-11 00:12] jakowenko commented on #94
I was able to catch the error before writing the file so it can be displayed on the UI.
![Screen Shot 2021-09-10 at 8 12 14 PM](https://user-images.githubusercontent.com/1081811/132929421-36ea2f89-1656-4419-874c-45ef43d4a5c3.png)

[2021-09-11 04:46] jakowenko commented on #90
I have the per camera setting just about done. Working on updating the README now. I changed a few other things too with how confidence and some settings are defined. You'll be able to do more at a per camera level.

Global settings will look like this.

[code]

And then the new per camera settings.

[code]

I also moved the masks stuff here now because it makes more sense to keep it nested with t

[2021-09-11 06:08] jakowenko commented on #95
I moved these warnings to a new log level type that I just added support for. See more [here](https://github.com/jakowenko/double-take/tree/beta#logs).

By default these won't show now unless the logger is set to `verbose`.

[2021-09-11 06:10] jakowenko commented on #91
Just a heads up, I already told you about this in another issue haha, but I changed how masks are defined. I have a [sample](https://github.com/jakowenko/double-take/tree/beta#cameras) in the docs.

[2021-09-11 06:12] jakowenko commented on #84
Just wanted to let you know I added support for [log levels](https://github.com/jakowenko/double-take/tree/beta#logs) now. More of a heads up for future stuff that may come up 😄

[2021-09-11 06:15] Haloooch opened #96 "mqtt message - base64 image"
I'm in two minds about this one, particularly given I've just written a lot of node-red code to make it all work.

Should the original Frigate mqtt message id be included in the double-take mqtt message? Why, I have just setup automation to save the double-take base64 image to local storage, I then reference it through mobile notifications. However, it occurred to me, Frigate has already processed

[2021-09-11 06:15] jakowenko commented on #93
FYI - I overhauled the configuration part of the docs and some of the settings to make it easier to see. The confusing table is gone now. Everything should be [here](https://github.com/jakowenko/double-take/tree/beta#configuration).

Hm, do you want to jump on Discord and I can try to help you? If you see images in `.storage/matches` then they should be showing up in the UI.

[2021-09-11 06:21] jakowenko commented on #96
Hey, I can definitely add support for this. It should be easy. The` base64` in the message can then be disabled in your config once I add in the Frigate ID.

Also as an FYI. I just pushed a decent config update to the beta build. This adds a more unified global detect config object with the ability to override it at a camera level too.

I have every example detailed out [here](https://github.com/j

[2021-09-11 06:34] jakowenko commented on #96
I just looked at the code and the ID returned should be the Frigate ID. If the event is from Frigate, then that is the ID the API uses in the response and MQTT message.

[2021-09-11 06:53] ozett commented on #94
when a config-error (or typo) becomes visible before going to disk - it is an improvement

[2021-09-11 06:57] ozett commented on #90
config section for cameras looks like in frigate-config.
keep that similar, thats good!

(do i get notice somwehow about time for pulling the beta? i am not that experienced with commit handling...)

[2021-09-11 06:59] ozett commented on #95
i would like to see this configurable.
maybe you let the user overwrite the category? or add more object-types for face-red?

if i can use other object-categories to feed into face-detect helps for me to catch som typical false-positives.
(i do this on my custom-python also for false-positives. the object-category is not always correct)

[2021-09-11 07:01] jakowenko commented on #95
It supports various categories, but I need to add code to log for each of those various ones and depending on what level is set you'll either see them or not. This is just adding support for more of that in the future.

What idea did you have to overwrite the categories? Can you post a sample config of what you had in mind?

[2021-09-11 07:04] ozett commented on #95
behind my cat-category sometimes is a human face.
i would like to feed that image to the fac-rec, regardless is was tagged as cat.
than the face-rec will sort it out.

the way it now works is, that the categroy will sort (false-false-positive) images tagged with cat out. but sometimes they contain faces. i would let the face-rec do this work on not fully rely on obj-detection by categro. or at lea

[2021-09-11 07:04] jakowenko commented on #90
The [actions](https://github.com/jakowenko/double-take/actions) page on the repo will show you when the build is done. I just did the last little update for the night, so should be good to pull now.

I need to test it more tomorrow, but everything I did tonight was working as intended. If you run into any weird issues let me know.

[2021-09-11 07:07] ozett commented on #90
how is the new config-snytax handelt?
do i have to pull the beta, start with the old-config and re-write?
or must the config-change for the new option done beforhand on the file?

[2021-09-11 07:08] jakowenko commented on #95
Ah I see what you mean. So maybe something like this in the config? Then the user can define what labels they want to process images for?

[code]

[2021-09-11 07:09] jakowenko commented on #90
You can leave your old config on there and start running the new build, it'll just use all the defaults. Then just update it from the UI to match the new format.

[2021-09-11 07:26] ozett commented on #95
looks good.
syntax like in frigate..

[code]

sould be made clear (somehow), that this is opens up the first narrow object-selction in frigate with a second-selection "opener" to a second-level face-analysis (to find faces in therefore false-positive-categories)

[2021-09-11 07:27] Haloooch commented on #96
lol, wish I had checked that 2 days ago when I started on my new automations :)
Will try this and then take out the base64 flag. Thx.

[2021-09-11 07:29] jakowenko commented on #95
I'll try to work this in the beta build tomorrow. It's 3:30am here. I'm off to bed for the night 😴

[2021-09-11 07:38] ozett commented on #95
alrigth. in europe now daytime started ... ✋

[2021-09-11 08:06] jakowenko commented on #95
I snuck this in before going to bed. Let me know if this works.

[code]

Logs will now show something like this too.

![Screen Shot 2021-09-11 at 4 06 02 AM](https://user-images.githubusercontent.com/1081811/132941147-ef065a25-53fa-4714-a2a0-7ad423a09b1c.png)

[2021-09-11 08:31] ralphmackinder commented on #93
Hi Tried to join the discord but couldnt for some reason. do you have a invite link?

[2021-09-11 08:32] ozett commented on #90
[code]

maybe the new sub-section "coordinates" is not like in frigate. and can be ommited?

[2021-09-11 08:37] ozett commented on #95
MQTT sub does not reflect this. i wait for more logging...

![image](https://user-images.githubusercontent.com/5937811/132941943-ef2d327f-95fa-4647-a0e5-6dbad4fb7376.png)

[2021-09-11 13:45] ozett commented on #91
latest beta, new config-style.,     v1.0.0-482b7c9:beta

not shure if the mask still work... or it the new config-options broke it:
how to make the mask visible in the gui?

![image](https://user-images.githubusercontent.com/5937811/132949986-366521e9-caa4-4d22-ac47-9bf5a961285f.png)

[2021-09-11 14:34] jakowenko commented on #95
What do you mean the MQTT subscription is not reflecting it? If the processed image with a cat doesn't return a match or unknown person then nothing will be published to.

Set your logs to see and see if anything shows up for those labels. In my testing the label check is working. Everything after that is what was previously happening with the processing of that image.

[code]

[2021-09-11 14:38] ozett commented on #95
i assume your getting snapshot from the topic: ```/+/person/snapshot```
but thats only person.

the cats from every cam would be: ```/+/cat/snapshot```

my proof:
![image](https://user-images.githubusercontent.com/5937811/132951444-b022c044-21a5-48b4-bbb0-27d1688bcd22.png)

[2021-09-11 14:38] jakowenko commented on #91
I think I have the indentation wrong on the docs. I'll fix that.

The masks shouldn't be nested under `snapshot`.

[code]

[2021-09-11 14:41] ozett commented on #91
fix the docs? or the code?

should i change it like i thing it should be?
or wait for the fixed docs?

i put me on hold and wait for your go 🚀

[2021-09-11 14:49] jakowenko commented on #91
The code is working. Here's one I tested just now with this exact config. Notice the top right part of the image is masked out.

![Screen Shot 2021-09-11 at 10 48 10 AM](https://user-images.githubusercontent.com/1081811/132951755-aebd782d-e613-4257-b721-a97ab33f66c4.png)

[code]

[2021-09-11 14:57] ozett commented on #91
commented the snapshot-line out. now checking if that works..
[code]

[2021-09-11 15:05] ozett commented on #91
no mask-info in the logs. i will check if its in the image.. (less identation maybe? did not throw an error..)
![image](https://user-images.githubusercontent.com/5937811/132952252-d575f95e-2faa-4b1c-b9d3-3f5c5c834ea5.png)

[2021-09-11 15:13] ozett commented on #95
face on bicycle - worth checking... 😄

![image](https://user-images.githubusercontent.com/5937811/132952530-3504db45-90bf-4f77-af29-e4635498c4d5.png)

[2021-09-11 15:16] jakowenko commented on #91
They won't show up in the response, but when you start Double Take you should see them in the logged out config.

![Screen Shot 2021-09-11 at 11 15 29 AM](https://user-images.githubusercontent.com/1081811/132952638-cbe7cf6e-6bef-4545-9537-2e098486e0da.png)

[2021-09-11 15:21] jakowenko commented on #91
Make sure `masks:` is just indented once too. I think that will matter.

[2021-09-11 15:21] ozett opened #97 "beta: mqtt missing bounding box (v1.0.0-482b7c9:beta)"
i am pretty sure that the matches over mqtt had a bounding box..
is it gone?

![image](https://user-images.githubusercontent.com/5937811/132952821-2e65443c-3b74-44d5-bb92-9ebb9acef7ff.png)

[2021-09-11 15:28] ozett commented on #91
![image](https://user-images.githubusercontent.com/5937811/132953001-975db7a7-8e01-4d9f-a78a-5581cf8c18bd.png)

Shift-Tab was my friend in the config-editor 😄

[2021-09-11 15:29] jakowenko commented on #90
coordinates is required in the masks section now. This is what my test one looks like. The coordinate values are copied directly from Frigate.

[code]

[2021-09-11 15:33] jakowenko commented on #97
Do you have `base64: box` defined in the `detect` object? I just tested it and the `base64` result had the bounding box.

[code]

![Screen Shot 2021-09-11 at 11 32 38 AM](https://user-images.githubusercontent.com/1081811/132953153-6ab80310-0486-4a6d-8694-64ee7037f609.png)

[2021-09-11 15:34] ozett opened #98 "beta:TypeError: Cannot read property 'length' of null (v1.0.0-482b7c9:beta)"
![image](https://user-images.githubusercontent.com/5937811/132953166-0123944f-5954-4747-bf7b-3f93004fe29a.png)

[2021-09-11 15:58] ozett commented on #97
you are right. i copied the new syntax-example that stated "true" predefined.
i changed it now to ```box```.
as far as i remember it is ```bbox``` in frigate, isnt it?

![image](https://user-images.githubusercontent.com/5937811/132953873-18151d22-0455-4451-9bcc-1246f442e81f.png)

[2021-09-11 16:12] jakowenko commented on #98
What does the `time:` part of your config look like? Did you change anything?

[2021-09-11 16:13] jakowenko commented on #97
Yes, they refer to it as `bbox`. Do you think I should do the same?

[2021-09-11 16:47] ozett commented on #98
i put it in, as i found it in the beta-docs.
now i disable it. i dont want red errors.

[2021-09-11 16:49] ozett commented on #97
as double-take is somehow closer bound to frigate its easier not to have slight similar (but still different) option-names.
may you keep options-names close to frigate an use bbox or at least allow both writings (box,bbox) ?

[2021-09-11 17:16] jakowenko commented on #98
Oh I see, ya the readme has `format:` empty. Let me fix that. Removing it will also work.

[2021-09-12 14:34] ozett opened #99 "beta: Train-images Details missing. Re-Training without face - but was a match (v1.0.0-ed872dd:beta)"
![image](https://user-images.githubusercontent.com/5937811/132991704-32092ce1-65d5-4a45-9ec0-75e9a8a40ce2.png)

1) unsure if the train images previously had some detail-information about training, like bbox  etc.
but it seems now missing?

2) from a false-positive "green" face-match(!), starting the re-train for the right person it ends up with "no-face".
How can that vanish if there was a (false-

[2021-09-12 19:19] jakowenko commented on #99
Click on the detector name to show the training details. I hide them by default to reduce the space.

[2021-09-13 05:25] ozett commented on #99
Ah! thanks, that changed.. maybe make it configurable? ```Train-Page; Detail```

yes, right. but it was considered a match. only wrong person.
on re-train the detector stated not to find any.
i use googles mediapipe in prarallel for face-detection. it finds even in such images half-faces perfectly!

[2021-09-17 08:04] ozett opened #100 "FeatureRequest: Absolute Date for a Match"
Would be great to be able to look up the absolute Date&Time of a matching Image somewhere in the gui.
The Detection-Details also dont unhide such a date and time.

![image](https://user-images.githubusercontent.com/5937811/133747304-dba45d9f-5352-4617-a36e-1031bcfdc15b.png)

[2021-09-17 13:27] jakowenko commented on #100
This should be easy to get added in over the weekend.

[2021-09-17 13:38] jakowenko commented on #100
What do you think of this? I have it as a tooltip when you hover over "yesterday", but I can also add to that top detail section too.

![Screen Shot 2021-09-17 at 9 37 00 AM](https://user-images.githubusercontent.com/1081811/133791810-57399279-e3be-4673-afb1-16be1b6f6284.png)

[2021-09-17 14:02] jakowenko commented on #100
Just added it to the tooltip when you hover and to the details object. Just finished building to beta, let me know what you think.

[2021-09-17 16:54] ozett commented on #100
Looks  good.
helps to lookup times in the past with more precision.
format could be configurable, like timestamps in frigate, but i personally have no need.
i can try the popup with next update of the beta.
thanks a lot!

[2021-09-20 10:47] alexdelprete opened #101 "v1.0.0-d25c1fd:beta - Snapshot height issue"
I'm trying to implement face recognition for my doorbell with Double Take. My doorbell has a 1536*2048 resolution, it's working fine with Frigate since 2 years.

Now, I needed to pass a full height snapshot to Double Take because of the face box size that was under minimum requirements with a height of 512. So I configured Double Take with this:

[code]

And Frigate like this:

[code]

The problem

[2021-09-20 12:29] alexdelprete commented on #101
When Double Take calls frigate's API for the snapshot, does it request a specific height, the one configured under the image: setting?

https://blakeblackshear.github.io/frigate/usage/api/#apieventsidsnapshotjpg

![image](https://user-images.githubusercontent.com/7027842/134002365-df9a0bc4-3c62-4016-b2c2-bd95dea895a5.png)

[2021-09-20 13:46] jakowenko commented on #101
Hey @alexdelprete, when Frigate's API is used it does request a specific height. [Here](https://github.com/jakowenko/double-take/blob/beta/api/src/controllers/recognize.controller.js#L117) is the part of the code where that happens.

The snapshot.jpg and latest.jpg sizes are controlled from Double Take, but I think I have the indentation wrong in the beta docs currently.

Try nesting it like this.

[2021-09-20 13:55] alexdelprete commented on #101
Does FRIGATE.IMAGE.HEIGHT default to 512? That would explain it.

I've fixed indentation now, will let you know if it works now. I also noticed that snapshots are cropped while mqtt images are not.

[2021-09-20 14:00] jakowenko commented on #101
The default should be [`500`](https://github.com/jakowenko/double-take/blob/master/api/src/constants/defaults.js#L17).

Frigate allows cropping of the snapshot image via the API, so unless there's a mask configured DT requests a cropped image from Frigate. This allows recognition to happen quicker since the image is only of the object in question. If you think this should be a configurable field t

[2021-09-20 14:03] alexdelprete commented on #101
So the indentation explains why it always defaulted to 500. Is there any validation of the configuration? Frigate for example doesn't start if there are indentation issues for parameters. Where can I check if there were config errors detected? Only in the container log? Would be nice to have logging in the UI. :)

[2021-09-20 14:13] alexdelprete commented on #101
I stand corrected: the MQTT snapshots can't be controlled by DT obviously, so cropping has to be enabled in frigate. :)

Now everything's pretty clear.

[2021-09-20 14:14] jakowenko commented on #101
The config is validated to make sure the YAML format is correct. If you try to enter a duplicate property for example you'll get an error. It doesn't validate though that a property you entered is in the correct location. I'd probably need to move to something like https://json-schema.org to support more advanced validation. Maybe I can include this in a future release.

![Screen Shot 2021-09-20 a

[2021-09-20 14:27] alexdelprete commented on #101
Indeed, config validation, particularly with yaml, is needed. That's one of the reasons I don't like yaml: one space a nothing works. :)

I noticed the copy config translated the config in json format. Can I then paste it again in that format or the parser expects only yaml?

[2021-09-20 14:38] jakowenko commented on #101
Haha ya, I hear you about the YAML and the spacing. I still think it's easier for non-developers to work with that than JSON.

You can't currently copy the JSON format into the editor since it expects YAML. It's more used right now for debugging or a quick way to copy and paste your config into a Github issue. I can add a way to copy the YAML though if you'd like.

[2021-09-20 15:08] alexdelprete commented on #101
Don't worry, I can copy&paste the yaml. :)

[2021-09-20 15:19] hawkeye217 opened #102 "Using http snapshot image"
I use Frigate and I have the `detect` role there using a low-res substream of my doorbell camera. It works great for person detection.

I currently use some simple automations along with Frigate to grab a higher res snapshot of my doorbell camera when a person is detected in a zone near the doorbell. Then through another automation in Home Assistant, I run Facebox on that image.

I'm considering t

[2021-09-20 16:06] hawkeye217 commented on #102
I did a little digging into your code and found [this](https://github.com/jakowenko/double-take/issues/57) as well.

I'm still not 100% sure how the http snapshot feature works, but ideally I'd just like to replace the frigate snapshot url with my camera's snapshot url and have Double Take do all the same work behind the scenes as if it got its image from frigate.

Is that basically what the `came

[2021-09-20 16:23] jakowenko commented on #102
Hey there! Yes, I think the cameras config is what you're looking for. Would something like this work for you?

The below config will allow you to hit `http://localhost:3000/api/cameras/driveway` and then it will process the `snapshot.url` image that is configured.

[code]

[2021-09-20 16:26] hawkeye217 commented on #102
Seems like that's what I was looking for! I'll give it a try. Thanks David!

[2021-09-20 16:28] jakowenko commented on #102
Glad to hear! Let me know if you run into any issues.

[2021-09-20 16:45] hawkeye217 commented on #102
So I've got a folder with a bunch of subfolders named with each individual already populated with images from my existing setup. I just moved those subfolders over to the `train/` subfolder and they are listed now, but is there a way I can get them all trained up with Double Take at once? Or do I have to go through each name in the list and then click "Sync"?

[2021-09-20 16:59] jakowenko commented on #102
Right now you would have to go to the "Train" tab on the UI and click the "sync" button for each person you want to train. There isn't a way to do this across all users at the moment.

[2021-09-20 17:12] hawkeye217 commented on #102
Actually, I guess I'm still learning how it works. I noticed the Match screen already has a bunch of filters. I'll keep playing around!

[2021-09-20 17:58] jakowenko commented on #102
I just got pagination added to the matches page, so I can focus on getting that added on the training page too. That should help with the page load time. I'll let you know when I get that added in. I'll try to start on it tonight.

That's a lot of people to train! What's your use case if you don't mind me asking?

Thank you again for the kind works and for taking the time to try this project out.

[2021-09-20 18:40] Calimerorulez opened #103 "Deepstack: Face endpoints not activated"
Hi,

Thank you for your great work.
I'm trying to connect to Deepstack, but Double-take says 'Face endpoints not activated', on the hover of the red dot for Deepstack.

What am I missing?
Thanks!

[2021-09-20 18:43] hawkeye217 commented on #102
Sounds great!

My use case is more for fun than anything. Over the last couple of years I've taken snapshots of friends, family, and neighbors when they've rung my doorbell. I have an automation that makes a TTS announcement with their name when any one of them rings the bell again and their face is detected.

I've got everything set up at the moment and will let it run over the next few days to s

[2021-09-20 19:11] jakowenko commented on #103
Hey! Do you have `VISION-FACE` set as an `environment` variable for your DeepStack container?

[code]

[2021-09-20 20:46] hawkeye217 commented on #102
Looks like I'm running into a similar issue to this one that you've been discussing today: https://github.com/jakowenko/double-take/issues/101

My high-res snapshot url is being scaled down to a height of 500px rather than using the full resolution.

Will explicitly setting the `height` parameter in my `frigate` section apply to the http snapshot url height as well?

[2021-09-21 00:33] jakowenko commented on #102
Is the degraded image just on the matches page in the thumbnail? I scale down and reduce the quality on those thumbnails to speed up the page load. If you click the button in the top right of the image it should open the source image used in a new tab.

[2021-09-21 00:39] jakowenko commented on #102
I just pushed a new beta build that allows you to adjust the quality of those thumbnail images on the UI if desired.

[code]

https://github.com/jakowenko/double-take/tree/beta#ui-1

[2021-09-21 01:03] hawkeye217 commented on #102
I saw your code that reduces the thumbnail size to 70% quality. Clicking the button on the top right of the image brings up the source image, but it's 500px in height if I don't have the `height` parameter set in the `frigate` config block.

But when I do set the `height` to 2048, it definitely doesn't look the same in terms of quality as when I pull the snapshot image off my camera directly via t

[2021-09-21 01:04] hawkeye217 commented on #102
Great, I will check it out!

[2021-09-21 05:45] Calimerorulez commented on #103
Yes, I created/started Deepstack with:

` docker run -e VISION-SCENE=True -v deepstack-localstorage:/datastore -p 80:5000 deepquestai/deepstack`

[2021-09-21 07:32] ozett commented on #95
i am on "v1.0.0-d25c1fd:beta" and guess that face-rec is still limited to "person" categories because DT still only listens to the fixed MQTT-topic "person".

or am i wrong with that? does DT grab  the configured other labels from the other event-topic (cat ...) and grabs them than over http as "snapshot"? https://github.com/jakowenko/double-take/tree/beta#frigate-1

[2021-09-21 14:46] Sylvain-Laine opened #106 "Config inconstistencies with v0.10.2-de4360d"
First, apologies for my english, and my first time on github !

Just to preface my case and my tests, my need is:
I've got cameras that dont work well with frigate for their main_stream, they work well for the sub_stream and the person detection work as intended
For the face detection with double take, i need to use an overide of the snapshot to process the detectors at max resolution

I did a lot

[2021-09-21 15:03] jakowenko commented on #106
Hey @Sylvain-Laine, those config examples you posted are for the current beta build. I'm working on releasing 1.0.0 today as well which will include that.

I'll take a look at your other requests in a bit, but that should be the reason for the config inconsistencies.

[2021-09-21 15:45] Sylvain-Laine commented on #106
Ok, thank you for the repply, i will update this issue, after the 1.0.0 release,
I toyed with the config in the past days, updated it today with the information available, but i already had the same problems before.
I hope i'll come back with good news :)

[2021-09-21 16:13] jakowenko commented on #102
@hawkeye217, just a heads up, since the other routes were all singular, I updated the `/cameras` one to now be `/camera`.

`http://localhost:3000/api/camera/driveway`

[2021-09-21 18:55] #77 closed

[2021-09-21 18:55] jakowenko commented on #77
Closing as this was merged into release `1.0.0`

[2021-09-21 18:56] jakowenko commented on #94
Closing as this was merged into release `1.0.0`

[2021-09-21 18:56] #94 closed

[2021-09-21 18:56] jakowenko commented on #98
Closing as this was merged into release `1.0.0`

[2021-09-21 18:57] jakowenko commented on #79
Closing as this was merged into release `1.0.0`

[2021-09-21 18:57] #79 closed

[2021-09-21 18:59] jakowenko commented on #95
The labels are only used when DT is triggered from frigate/events. It doesn't apply to the other snapshot topics. If you would like support for this can you open a new issue?

I'm trying to clean up some of these legacy ones now that `1.0.0` was released and had changes for this issue.

[2021-09-21 18:59] #95 closed

[2021-09-21 19:22] jakowenko commented on #83
Closing since this is now included in the `1.0.0` release.

[2021-09-21 19:22] #83 closed

[2021-09-21 19:22] jakowenko commented on #89
Closing since this is now included in the `1.0.0` release.

[2021-09-21 19:22] #89 closed

[2021-09-21 19:23] jakowenko commented on #90
Closing since this is now included in the `1.0.0` release.

[2021-09-21 19:23] #90 closed

[2021-09-21 19:23] jakowenko commented on #52
Closing since this is now included in the `1.0.0` release.

[2021-09-21 19:23] #52 closed

[2021-09-21 19:24] #85 closed

[2021-09-21 19:29] #66 closed

[2021-09-21 19:39] jakowenko commented on #106
`1.0.0` is released now.

[2021-09-21 19:40] jakowenko commented on #102
I'm going to close this since everything has been released in `1.0.0`. Feel fee to open a new issue if you run into problems.

[2021-09-21 19:40] jakowenko commented on #101
I'm going to close this since everything has been released in `1.0.0`. Feel fee to open a new issue if you run into problems.

[2021-09-21 19:40] #101 closed

[2021-09-21 19:40] jakowenko commented on #96
I'm going to close this since everything has been released in `1.0.0`. Feel fee to open a new issue if you run into problems.

[2021-09-21 19:40] #96 closed

[2021-09-21 19:41] jakowenko commented on #91
I'm going to close this since everything has been released in `1.0.0`. Feel fee to open a new issue if you run into problems.

[2021-09-21 19:41] #91 closed

[2021-09-21 19:41] #80 closed, assigned to nobody

[2021-09-21 19:44] jakowenko commented on #88
Does this issue still persist with the latest / beta build?

[2021-09-21 19:45] jakowenko commented on #100
Closing since this was included in release `1.0.0`

[2021-09-21 19:48] jakowenko commented on #103
I would check this [thread](https://forum.deepstack.cc/t/face-endpoints-not-activated/45) on the DeepStack forums and see if it helps at all. This is an issue with how DeepStack is deployed.

[2021-09-21 19:48] #65 closed

[2021-09-21 19:48] #32 closed

[2021-09-21 19:49] #69 closed

[2021-09-21 19:51] jakowenko commented on #73
Closing, feel free to reopen if you still experience this issue.

[2021-09-21 19:51] #73 closed

[2021-09-21 19:52] jakowenko commented on #72
I will include more logging levels in future releases. I do have support for it, but I need to add the logs to the various parts of the code.

Closing this issue for now. Feel free to open a new one if you still experience issues.

[2021-09-21 19:52] #72 closed

[2021-09-21 19:53] jakowenko commented on #81
Closing this for now since I wasn't able to determine why Facebox wouldn't accept the image. Feel free to reopen if this is a problem that needs to be prioritized.

[2021-09-21 19:53] #81 closed

[2021-09-21 19:54] jakowenko commented on #97
Closing this for now since all these changes are in the `1.0.0` release. Feel free to open a new issue if something isn't working.

[2021-09-21 19:54] #97 closed

[2021-09-21 20:55] hawkeye217 commented on #102
Thanks for pushing the updates, @jakowenko!

I'm still having trouble with the quality of the http snapshot image, though. Are you running that image through anything specific? Clicking the icon on the top right shows the full quality image with the face bounding box, but the quality is significantly worse than when I pull an image directly from my camera's snapshot url. And this seems to be causi

[2021-09-21 21:03] jakowenko commented on #102
Hm...when you view the raw image with the bounding box in a new tab that should be the original image without any resizing or quality changes. Is there a size difference in that image compared to the one you have in your config for the snapshot?

[2021-09-21 21:11] jakowenko commented on #102
Here's an image I just tested with. My config looked like this.

[code]

The image with the bounding box was the same dimensions, the file size was reduced. That's probably because it's loaded into a canvas to draw the box then saved back out.

If you remove the ?box=true from the URL you should get the image without the bounding box. Does that one look better?

From my test all the dimensions wer

[2021-09-21 21:14] hawkeye217 commented on #102
Yes, there is a size difference. If I don't have a `height` parameter set in the `frigate` section of my config, the "original" image is 375x500. The image size of the snapshot when calling the camera's snapshot url directly is 1536x2048.

[code]

Removing the `?box=true` from the url doesn't change the image quality - my face still looks pixelated as if the image was programmatically enlarged fro

[2021-09-21 21:44] hawkeye217 commented on #102
Just to clarify a bit more in case it helps - Frigate is also sending an image with a `person` bounding box from the low-res detect stream over mqtt, and so I get two images for each event in the Matches page - one is labeled `mqtt`, the other is `latest`. The `latest` image has no bounding box and does seem to be using the snapshot url. The low res stream from mqtt is giving all sorts of bad resu

[2021-09-21 22:01] jakowenko commented on #102
Oh I see. The MQTT snapshot image from Frigate is configured from the Frigate config.

I'm on my phone so I can paste the link easily, but check my README. It should include an example of how to resize that MQTT image.

That should fix your problem then! 🤞

[2021-09-21 22:36] alexdelprete commented on #101
Sorry, I forgot to close it.

[2021-09-22 01:03] jakowenko commented on #102
The processing of the Frigate images / MQTT image is a little confusing and the MQTT one is done separately then the event driven one.

### Frigate publishes a message to frigate/events:
Double Take then begins to process this event using images from Frigate's API. These images are `/api/${camera}/latest.jpg` and `/api/events/${id}/snapshot.jpg`. The `height` variable is passed to both of these im

[2021-09-22 02:54] hawkeye217 commented on #102
Makes total sense. Your docs are clear, my brain was just not :)

I was (falsely) operating under the assumption that the snapshot url *replaced* the image that frigate was sending on the `latest` endpoint. The reason why the resolution was lower is because it actually was :) The frigate `latest` endpoint is definitely not 2048px high.

I'll just have to set up a HA automation to call your `/api/c

[2021-09-22 09:59] ozett commented on #88
i will check with 1.0. But i have to pull it first...hold on. i come back

[2021-09-22 10:15] ozett opened #108 "docker-versioning ?"
maybe helpful to get versions on the docker-images like frigate does?
i now want to pull 1.0, but hard to see the versioning here https://github.com/jakowenko/double-take#docker-compose

maybe there is a dockercompose convention to get specific versions?

??   image: jakowenko/double-take:1.0.0 ?

thats what i have:
[code]

[code]

[2021-09-22 10:39] ozett commented on #88
maybe related?
i have images with training-timeout.
but cannot move& train this single image. a Gui-button would be helpful.

if i use the dropdown to select a target-person other than the untrained image, this new selection disables the image and train therefore not possible.

v1.0.0-39cb3c3:latest

![image](https://user-images.githubusercontent.com/5937811/134329154-4c4c6d13-c855-4e41-b809-30096

[2021-09-22 14:41] ragenhe commented on #108
[code]
Should work

[2021-09-22 15:42] jakowenko commented on #88
Select the image, click the trash button in the top right, then you should be able to retrain it.

[2021-09-22 15:44] jakowenko commented on #108
Hey, as ragenhe pointed out, just use `jakowenko/double-take:latest` and that will also be the most recent stable version. The method you have above is if you'd want to go back to a specific version.

[2021-09-22 15:51] jakowenko commented on #102
It's no problem, thank you for taking the time to checkout this project and provide feedback! I really appreciate it.

The method you described above does sound like it could make sense for some users. I'd probably want to test that under the Frigate config object.

It sounds like you still want to process images when `frigate/events` is updated, but you don't want to use the `latest.jpg` image an

[2021-09-22 15:57] ozett commented on #108
that was my question: what version-number-schema do i have to use?
where to lookup which number works?
does this work? how to proof/lookup?

```image: jakowenko/double-take:beta-1.0.0```

[2021-09-22 16:00] hawkeye217 commented on #102
Yes, that's exactly what I am looking to do, and something like that in the config would work great.

I love the way the Frigate logic works with mqtt events, and it would be nice to have no additional automations in Home Assistant to be able to use a higher resolution snapshot from the camera for snapshots without burning tons of extra cpu in Frigate for a high res rtsp stream.

I'll be happy to

[2021-09-22 16:02] hawkeye217 commented on #102
Something else that could be helpful would be the ability to disable Double Take's processing of Frigate's `mqtt` and `latest` endpoints, while still listening to incoming events. If I use a high res snapshot url for processing, I wouldn't need to see any mqtt or latest images on the Matches page.

[2021-09-22 16:04] ragenhe commented on #108
Those are more than likely images that were being used for testing.
``` :latest ``` will work until you want to try an available _beta_, the ```:beta``` would be used.

[2021-09-22 16:06] jakowenko commented on #108
All the available tags are listed [here](https://hub.docker.com/repository/docker/jakowenko/double-take/tags?page=1&ordering=last_updated).

[2021-09-22 16:07] ozett commented on #88
for clarification: i am on the the train-pages.
i did like you suggested: i clicked the trash-button and the image was trashed. expectable.
no more re-train. image was deleted. not really a solution... 😢

[2021-09-22 17:29] caliKev opened #109 "Sharp dependency issue when running on a separate rPi4 4GB"
Hi,

I'm having trouble running this container on a separate rPi4 4GB device. It looks like a sharp dependency issue. I'm happy to help troubleshoot, but I don't have a lot of experience building containers.

pi@raspberrypi:~/double-take $ docker-compose up
Starting double-take ... done
Attaching to double-take
double-take    | /double-take/api/node_modules/sharp/lib/constructor.js:32
double-take

[2021-09-22 20:11] jakowenko commented on #88
Ah I guess because it was never trained with a 200 response I have logic in there to delete it.

You could've also clicked the "sync" button which would've tried to train that image again for the user.

[2021-09-22 20:12] jakowenko commented on #109
Thanks for reporting this. I have a Pi at home I will test with.

[2021-09-22 20:24] jakowenko commented on #102
I'll work on a beta build to support your use case and let you know when it's ready. I'll probably open up a new issue to track it.

There is a way to disable the Frigate MQTT processing and the latest processing. The latest is global to all Frigate cameras though. Setting `latest` to `0` will disable it and then setting `mqtt` to `false` will disable the snapshot topic processing.

[code]

[2021-09-23 02:24] jakowenko opened #110 "[FR] Ability to override Frigate `latest.jpg` and `snapshot.jpg`"
Continuing the discussion from #102 @hawkeye217 is looking for a way to override the `latest.jpg` and `snapshot.jpg` images rather than using the default ones from Frigate's API.

Here is my proposed solution.

[code]

With this configuration the `office` camera has new values applied to it. I've disabled the `latest` processing by setting the `attempts.latest` to `0`. The MQTT snapshot is also di

[2021-09-23 02:39] hawkeye217 commented on #110
Looks like it will do what I need and more! Thanks!

[2021-09-23 02:41] jakowenko commented on #110
Awesome, thanks for the quick reply! I'll get this pushed up tonight and let you know when it's ready to test 🤞

[2021-09-23 03:10] Sylvain-Laine commented on #110
It's awesome, it fits my needs to !

[2021-09-23 03:26] Sylvain-Laine commented on #106
Everything works thank you !
I didn't quite understand the configuration section for "camerar / [cam] / snapshot / url" I thought (falsly) that it was an override of the frigate snapshot, but this point is addressed in the issue #110

The support for filtering based off the camera and triggered media will be a great improvement for the ui !
Thank you

[2021-09-23 03:43] jakowenko commented on #110
Hey @hawkeye217 and @Sylvain-Laine, this is ready for testing! The latest beta should include it `docker pull jakowenko/double-take:beta`.

Hopefully I didn't break anything haha! Let me know if it works and what you think.

I updated the [README](https://github.com/jakowenko/double-take/tree/beta#frigate-1) to include the new options.

[2021-09-23 03:46] jakowenko commented on #106
Hey @Sylvain-Laine, I got the new filters added to the beta build, `docker pull jakowenko/double-take:beta`. Let me know what you think!

![Screen Shot 2021-09-22 at 11 45 41 PM](https://user-images.githubusercontent.com/1081811/134451880-705f710b-df48-4af5-a99d-c5fe72bbd4db.png)

[2021-09-23 04:18] Sylvain-Laine commented on #110
So far it works !
Im going to let it run this morning and test a bit more !
Thanks

[2021-09-23 04:18] Sylvain-Laine commented on #106
Perfect ! Thanks

[2021-09-23 04:33] jakowenko commented on #108
No problem! You shouldn't need an account to see the tags, try this [link](https://hub.docker.com/r/jakowenko/double-take/tags?page=1&ordering=last_updated). It worked for me without being logged in.

[2021-09-23 04:33] #108 closed

[2021-09-23 07:57] ozett opened #111 "beta v1.1.0-aa030da:beta: TypeError: Cannot read property 'length' of undefined"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5937811/134472403-01cc4a4b-9759-49c2-ae70-33e61b470ac0.png)
**Version of Double Take**
v1.1.0-aa030da:beta

beta-issue?

---edit:
no problem in v1.0.0-39cb3c3:latest

[2021-09-23 08:54] Sylvain-Laine commented on #106
Juste a quick update, the filters do work great, but they are reset after a delete operation, this is just for quality of use.

This may need another [FR], but i was thinking of another filter which may be great for debugging, not so important for normal use: The ability to filter by frigate event (even the events with no return from detectors).

[2021-09-23 13:27] hawkeye217 commented on #110
Thanks for the fast turnaround! I'll install it and test it today.

[2021-09-23 13:37] jakowenko commented on #111
I think this is related to the `cameras` and `types` I added to the filter menu. Can you also post a screenshot of the match page on the ui showing that table of the filters. Does your show the cameras and types?

![Screen Shot 2021-09-23 at 9 36 03 AM](https://user-images.githubusercontent.com/1081811/134517017-2b240996-3c07-4bce-ad41-947210051462.png)

[2021-09-23 14:56] jakowenko commented on #106
Glad they are working! I can work on the filter resetting logic and make it better. It's a little tricky because if no matches are in the database, then there's no filters, but as soon as one comes in I need to update all the filters so it shows on the page, this is when the "reset" of the filters happens.

I'll update it though so they don't reset after the delete operation. Only when the WebSock

[2021-09-23 15:25] hawkeye217 commented on #110
Tested the beta on my doorbell cam and another interior cam. It all seems to be working great for the doorbell cam, but the interior cam's snapshot url requires a username and password as follows:

`http://username:password@192.168.1.10/snapshot.cgi`

I'm guessing the way you've set up axios doesn't allow for that, as I'm getting a 401 (unauthorized) error:

[code]

[2021-09-23 15:31] jakowenko commented on #110
Hm...glad it's working at least for one of them. I haven't tried any URLs before that have username:password in them.

Does going to `http://username:password@192.168.1.10/snapshot.cgi` directly in your browser render the image OK?

[2021-09-23 15:44] hawkeye217 commented on #110
Yes it does. The browser does basic authentication based on the username and password in the url.

Axios requires a `header` object to do basic auth. There probably is an easy way to take the keys from the url, but I'm just not familiar with it.

[2021-09-23 15:55] jakowenko commented on #110
Ah, I didn't know the browser did that in the background. Ya it should be pretty easier to take that out of the URL then split it based on the `:` value to get `username` and `password`. I'll try to sneak this fix in tonight.

[code]

[2021-09-23 16:39] jakowenko commented on #110
I tried to test this with `http://foo:bar@httpbin.org/basic-auth/foo/bar` as the URL. It works when I set my image to be the URL with the auth in it.

Did you try that as well?

The below worked and at least passed that URL check. When I remove `foo:bar` I get the `401` like you had.

[code]

[2021-09-23 17:41] ozett commented on #111
i switched back in docker to the latest beta, to show you that screen.
now i cannot see any error anymore in the log? fixed?
v1.1.0-aa030da:beta
![image](https://user-images.githubusercontent.com/5937811/134557049-f9f23b23-6f26-49a2-bd19-3d1d499dedcb.png)

[2021-09-23 18:27] jakowenko commented on #111
Ya, seems like it could be fixed. Did you do a `docker-compose down` originally to make sure the old containers were killed? Might have just been something weird when you updated the image.

[2021-09-24 08:32] Sylvain-Laine commented on #110
Just FYI,
Was working on the previous beta build and is still working for the new one :
Snapshot URL from a Reolink camera behind a Reolink NVR : http://[ip]/cgi-bin/api.cgi?cmd=Snap&channel=2&rs=[key]&user=[user]&password=[password]

[2021-09-24 08:55] Sylvain-Laine commented on #106
Maybe a filter logic based on both trained folders / entry in the configuration instead of matches in database, it's a little more tricky because you still need to be able to shows matches in db that are no longer in the configuration after a change...
But as i said, this is juste quality of use, the filters are fine ! And the difference between v1.0.0 and the current beta build is perfect ! Great

[2021-09-24 19:16] jakowenko commented on #110
Glad to hear! @hawkeye217 can you confirm if you were passing the `user:pass` in your config.

[2021-09-25 19:15] jakowenko opened #113 "[FEAT] UI Logs Page"
**Describe the solution you'd like**
Additional page on UI for viewing latest logs from `messages.log` file.

Would also be nice to see the current file size of the file and the ability to clear it out completely.

[2021-09-26 17:56] hawkeye217 commented on #110
I decided not to use that specific camera with Double Take, so I didn't look into it any further. But if it works for others, I'm sure it was just something specific to my setup. Thanks!

[2021-09-26 19:49] ozett commented on #106
can you do such a selection-filter accordingly also for the train-page?

[2021-09-27 15:17] jakowenko commented on #110
No problem. I'm going to close this since these changes got merged into the `1.1.0` release. Feel free to open a new issue if you run into problems.

[2021-09-27 15:17] #110 closed

[2021-09-30 08:11] #113 closed

[2021-09-30 14:56] jakowenko commented on #111
I'm going to close this as I haven't heard of any more reports of it. Feel free to open if it's still present in the latest builds.

[2021-09-30 14:56] #111 closed

[2021-09-30 17:59] jakowenko commented on #106
@ozett the training page already filters images when you select a name from the dropdown. I don't see a lot of other value added by adding more filters. What else were you hoping to filter by?

[2021-09-30 23:03] smartelnovo opened #115 "Add scheduling to detection"
I would be nice, in a busy environment, to add a schedule to disable the detection, I was thinking of something like this to create the schedule:

![image](https://user-images.githubusercontent.com/53451003/135540540-83bca2a1-72cf-41c3-afe0-8f3bed840f01.png)

And then assign it to the camera in the config,  this would avoid filling up the matches during periods that you don't really care, altough

[2021-10-01 04:15] jakowenko commented on #115
Thanks for the suggestion. I think this makes sense to build in, but may be a little tricky from the UI right now. I could do range sliders like you have above, but it would be nice to support multiple time blocks in a given day and assign cameras to those, etc.

What do you think if I implement this on the `config.yml` side to start, then if that's working I can later look at how to implement it

[2021-10-01 05:56] ozett commented on #106
i have now 5 page of faces.
i dont want to filter by person, i want to images regardless of the person-category
to improve quality i would check from time to time if images have a too low box-area.
or to sort out images that matched, but had not been trained on again
![image](https://user-images.githubusercontent.com/5937811/135572525-a5762e77-ac93-43bf-a06b-50a8190978dc.png)

[2021-10-01 07:18] ozett commented on #108
All the tags are gone.
wanted to explicitly pull ver 1.2.
but there are not tags anymore.
not on github-landing page nor on docker... 😢

[2021-10-01 07:25] jakowenko commented on #108
Looks like an issue with Docker Hub right now.

[2021-10-01 07:28] ozett opened #116 "pulling latest docker automically?"
restarting my docker-compose with double-take:latest is not automatically pulling ver1.2.
still my old ver1.0.  is there no automatic pull for latest? or is my tagging wrong?

[code]

[2021-10-01 08:04] jakowenko commented on #116
Are you running docker compose down first?

The image for the latest is `jakowenko/double-take` which will pull `1.2`.

[2021-10-01 10:56] smartelnovo commented on #115
That would be perfect, good idea let's start in the config.yml and see how it goes, it is not something that will change much in time, once the schedules are defined you should not have to change them much, so the gui is not a must for now.

[2021-10-02 12:44] ozett commented on #116
i always do the folllowing with the above mentioned compose-file.
and i thougt i would automatically magically pull the therin mentioned latest version. not explicitly.
maybe my assumption is wrong.

[code]

[2021-10-03 08:05] mr-manuel commented on #116
If your Docker hasn't downloaded the latest image it won't work. You have to pull the latest image before.

Personally I'm always using `docker-compose pull && docker-compose -d up` so all latest images from the Docker Compose file are pulled. If there are new images downloaded the container is recreated. The downtime in this case is also minimal since the container is only "rebooted".

In your ca

[2021-10-03 08:11] ozett commented on #116
yeah thanks for this idea. i tlet me google and i found, that there also seems to be a docker-compose policy for polling
https://stackoverflow.com/a/66136860
![image](https://user-images.githubusercontent.com/5937811/135745552-895236c4-1b3b-4b55-af39-41a7b889170e.png)

i will try this next time also..
thanks for creating dtouke. does a great job for me

[2021-10-05 03:50] jakowenko commented on #115
Hey @smartelnovo, I pushed a new beta build if you'd like to try it out!

Here's the config I was testing with.

The first block disables recognition for the "manual" camera. You should be able to verify it's working by hitting this URL - `localhost:3000/api/recognize?url=https://jakowenko.com/img/david.92f395c6.jpg`

The output should look like this.
[code]

[code]

[2021-10-05 06:59] jakowenko commented on #116
Glad you got it working. Thanks for helping @mr-manuel!

[2021-10-05 06:59] #116 closed

[2021-10-05 07:00] jakowenko commented on #103
Closing since this is related to DeepStack. Feel free to reopen if you haven't had any luck.

[2021-10-05 07:00] #103 closed

[2021-10-05 14:30] Calimerorulez commented on #103
I haven't had the time to debug it yet, but I will indeed dive further into DeepStack :)

[2021-10-05 20:16] smartelnovo commented on #115
I will certainly try it out, and I'll report back.

Thank you!

[2021-10-06 14:43] jonwilliams84 opened #119 "[FEAT] Subscribe to events from eufy-mqtt-bridge"
Is there a way to subscribe to events from eufy mqtt bridge for "Person Detected" events and process the thumbnail?

Looking at the code in https://github.com/matijse/eufy-ha-mqtt-bridge person detected events are published to these topics

[code]

Essentially I would like double-take to listen for such events and process the thumbnail.

[2021-10-07 05:33] jakowenko commented on #119
Hey, thanks for the suggestion and the info about that Eufy project. I run a few Eufy cameras and had no idea that bridge existed, that's pretty cool!

There is a way to support this currently and I also just pushed a new beta build to make sure to pull in the right camera name based off the config. Here's how you'll need to setup your config to pull in those images. One thing to note is the quali

[2021-10-07 05:34] jakowenko commented on #115
Closing since this was released in `1.3.0`

[2021-10-07 05:34] #115 closed

[2021-10-07 13:45] jonwilliams84 opened #120 "[FEAT] Documentation for adding image to picture card"
I am trying to add the last image to a picture-element card using the following as an example:

[code]

In developer tools and templates, this renders the url correctly as:

http://double-take.jetson.local/api/storage/matches/670f03f6-7d88-49ba-be61-66789f6fa554.jpg?box=true

However the picture doesn't show in a card.

What am I missing?

If set this as a camera in HA config it works but surely t

[2021-10-08 07:15] tonyhardcode opened #121 "[FEAT] Coral AI as a detector"
Would it be possible to get Coral AI as a compatible detector on Double Take? Coral is trainable and this project seems to be able to do it https://github.com/robmarkcole/coral-pi-rest-server

[2021-10-08 10:16] Cliff-R-K opened #122 "Possible to get a node-red example ?"
I have been searching but have not found any instructions of how to get double-take to work in node-red. I am using home-assistant but am using node-red for all my automations. I have been fiddeling around but can not figure out how to trigger anythoing on sensor.double_take_<name>. Is it possible to get any examples of what needs to be configured in double take and some simple flows where you tri

[2021-10-08 10:32] tkdrob commented on #122
Hi. Here is one:
[code]

Have you tried using automations instead of node-red? I used to use node-red exclusively just like you to make debugging easier but made the switch after automation tracing was added.

[2021-10-08 12:29] jonwilliams84 commented on #121
+1 for this...however I assume this would need support by the detector (e.g. deepstack/compreface) as opposed to double-take because unless my understanding is incorrect, double-take is purely an interface to the api of the given detectors.

[2021-10-08 18:10] jakowenko commented on #121
Love this idea! I wasn't aware of that rest server project. It uses the Python package `pycoral` to talk to the Coral. I'd have to think a bit about how to make this work since there would be no way to integrate it directly into the code base with Double Take being in NodeJS. I don't think there's any Node packages either for the Google Coral.

What if I run the `coral-pi-rest-server` project in t

[2021-10-10 01:39] kitchung opened #123 "[BUG]"
**Describe the bug**
Stuck in "Training" with no progress if a HEIF image was uploaded.

**Version of Double Take**
`v1.3.0-5fdac97`

**Expected behavior**
Failed detection should be purged from the database, restrict unsupported file types or convert it to a supported file type.

**Screenshots**
N/A

**Hardware**
 - OS: N/A
 - Browser (if applicable) [e.g. Chrome, Safari]: N/A

**Additional conte

[2021-10-10 01:57] jakowenko commented on #123
Thank you for reporting this. Do you have a sample file that produces this error I could use to test with?

[2021-10-10 02:23] kitchung commented on #123
This may have been the log entry:

`error: TypeError: Cannot convert undefined or null to object
     at /double-take/api/src/controllers/train.controller.js:44:7
     at Array.forEach (<anonymous>)
     at /double-take/api/src/controllers/train.controller.js:42:15
     at Array.forEach (<anonymous>)
     at module.exports.get (/double-take/api/src/controllers/train.controller.js:39:9)
     at new

[2021-10-10 02:55] miguelangel-nubla commented on #110
I am also getting 401 errors with basic auth
[code]

The "resolve" error does not make sense to me as the url is a IP not a domain name. I also tried with a .local domain but same error.

The auth url is correct, working in a fresh incognito window.

[2021-10-10 03:02] kitchung commented on #123
i shell'd into the container, installed sqlite and used sqlite3 with the following commands:

`select * from train;`
and found the following entry:
`866||||deepstack|{"message":"Cannot read property 'name' of undefined","status":500,"detector":"deepstack"}|2021-10-09T23:59:28.791Z`
I got rid of the stuck training by running the following command:
`delete from train where ID = 866;`

[2021-10-12 17:31] jakowenko commented on #121
I spent a few hours trying to get this to run on my Pi and haven't had any luck yet. Have either of you had success running it with a Coral USB Accelerator on a Pi?

[2021-10-12 23:18] tonyhardcode commented on #121
I do not have a Pi device. I've been using the Coral Accelerator in an m.2 slot on a mITX board. I did come across this blog post about getting a Coral USB Accelerator working on Pi. Hopefully it helps. https://blogs.sap.com/2020/02/11/containerizing-a-tensorflow-lite-edge-tpu-ml-application-with-hardware-access-on-raspbian/

[2021-10-13 02:38] cjackson234 opened #125 "[BUG]"
**Describe the bug**
MQTT messages are sent for one camera and not the other. The detection event shows in the UI and is marked as the correct person.

**Version of Double Take**
`v1.4.0-cf68a1a:latest`

**Expected behavior**
MQTT messages are always sent

**Hardware**
 - OS: Unraid
 - Browser Chrome

**Additional context**
The only difference I can see is that one camera is 1080p and the other is

[2021-10-13 04:45] jakowenko commented on #109
This is now released in `v1.4.0` and can be pulled from the `latest` tag as well.

Feel free to reopen if you run into any issues.

[2021-10-13 04:45] #109 closed

[2021-10-13 04:49] jakowenko commented on #120
@tkdrob, if you want to message me on Discord, I can get a logo created for you with the name in it.

@jonwilliams84, I'm going to close this since it's included in `v1.4.0`. There is a small fix coming in `v1.4.1` which will be out in a few hours.

Feel free to reopen if you run into issues with it.

[2021-10-13 04:49] #120 closed

[2021-10-13 14:43] jakowenko commented on #125
This should be fixed now in release `v1.4.1`. Let me know if it resolves your issue.

[2021-10-13 19:17] jakowenko commented on #110
@miguelangel-nubla, that error just means the URL/IP did not respond within 1 second, so the request times out. I have a hard timeout of 1 second currently to prevent these status checks from hanging too long.

Have you been able to verify the container can ping the IP?

[2021-10-13 20:24] miguelangel-nubla opened #127 "[FR] Camera snapshot url invalid header validation"
I have configured the [custom snapshot url per camera](https://github.com/jakowenko/double-take/commit/e2f93e63d0f7031b92690e612f9b57d28ebe4adc) feature.
The camera returns the header `Content-Type: image/jpeg; charset="UTF-8"` and double-take chokes on the charset part.
[code]
It is not exactly textbook behavior but I don't think hikvision is going to fix the firmware anytime soon, so maybe ignor

[2021-10-14 00:11] jakowenko commented on #127
Thanks for reporting this. It should be easy enough to reproduce and fix. I should be able to get a new beta build up tonight.

[2021-10-14 02:08] jakowenko commented on #127
New beta build should be ready in an hour. I'll update this post when it includes the fix.

[2021-10-14 02:35] miguelangel-nubla opened #128 "[FEAT] Snapshot url digest auth"
As discussed in [#110](https://github.com/jakowenko/double-take/issues/110#issuecomment-939396423) custom snapshot url's do not work with digest auth servers.

It should be useful with many cameras.

[2021-10-14 05:32] jakowenko commented on #128
I have a working version locally to support this. I wanted to see what you think of this setup.

Because you can use these http images in various places in the config, I wanted to put the auth for them in a single spot.

During the API calls the code will check to see if there's a matching `digest-auth` object based off the `url`.

Let me know if this makes sense and will work for you. I can push

[2021-10-14 18:57] caliKev commented on #109
Thanks again for the help. In the meantime I was able to get double-take working on my jetson. I am still struggling to get deep-stack working. I had it working a few months back.

Here is the output of the commands:

pi@raspberrypi:~ $ cat /sys/firmware/devicetree/base/model; echo
Raspberry Pi 4 Model B Rev 1.1
pi@raspberrypi:~ $ uname -a
Linux raspberrypi 5.10.60-v7l+ #1449 SMP Wed Aug 25 15:00:

[2021-10-14 23:26] jakowenko commented on #128
I have it working and refactored to work as you described. Will do a little more testing tonight, but should be just about ready.

[2021-10-15 00:10] miguelangel-nubla commented on #128
Sounds good, be sure to keep an eye handling session timeouts for the digest auth. Maybe re-authenticate on 401 received is enough.

Happy to help. Thank **you** for this great project!

[2021-10-15 04:13] jakowenko commented on #119
Hey @eoura-home, I don't have a Eufy doorbell to test with, but have you verified the `_person` topic has a similar JPEG encoded message on it like the `_thumbnail` topic has?

[2021-10-15 04:19] eoura-home commented on #119
Thanks for the response. Do you know how I could verify this? Sorry, but I’m not familiar with mqtt

[2021-10-15 05:05] eoura-home commented on #119
Thanks for this. I see what you mean now - the `_person` topic in `homeassistant/binary_sensor/eufy/{serial_no}_person` doesn't include a JPEG encoded message, but only a https link to the thumbnail. Only the `_thumbnail` topic has a JPEG encoded message. Is it possible for double take to load the image from the https link?

[2021-10-15 05:17] jakowenko commented on #119
My Eufy cameras also have that thumbnail URL and when I checked a few weeks ago it was the same image as the `_thumbnail` topic.

[2021-10-15 05:22] jakowenko commented on #128
The beta tag should have digest auth working now, `jakowenko/double-take:beta`

Pass it in the URL just like basic auth and it should just work 🤞

`https://user:pass@httpbin.org/digest-auth/auth/user/pass`

[2021-10-15 05:31] jakowenko commented on #119
With both images being so small to begin with, I don't think there would be any advantage to using an even smaller cropped one.

I have wanted to explore adding in RTSP support for Double Take, so maybe one day I could pull in the raw Eufy 2K image for processing.

[2021-10-15 05:34] eoura-home commented on #119
Thanks @jakowenko, for your responses and all your great work. I guess (for now) this is as good as it gets for the eufy doorbell/eufy-ha-matt-bridge.

[2021-10-15 12:48] miguelangel-nubla commented on #128
Seems to be working great!
Will test it for some time and report.

[2021-10-17 16:34] ivelin opened #131 "[FEAT] Local labeling by non-dev end users"
First of all, this is an awesome project! Congrats!

**Is your feature request related to a problem? Please describe.**
In its current form labeling requires some development skills to setup the web app.
Question: Is it a goal for the project to eventually allow non-tech end-users to apply in their homes?

**Describe the solution you'd like**
If the answer to the question above is no, please close

[2021-10-18 10:20] ozett opened #132 "[BUG] Detection Labels have global-scope. Overwrite per Camera ?"
**Describe the bug**
the config-desciption/config-option is misleading.
using this config for dections-categories is a global match for detections from all cameras

**Version of Double Take**
v1.5.0-5eb9971:latest

**Expected behavior**
i would assume that detection-labels are used only for dtake cams.
not globally for all frigate-cams.

maybe make the labels an option on a per-camera basis?
(like

[2021-10-18 11:12] bliekp opened #133 "[DT does not pickup MQTT]"
**Describe the bug**
My config snippet:

`mqtt:
  host: 192.168.178.15:1883
  username:
  password:
  topics:
    # mqtt topic for frigate message subscription
    frigate: frigate/events
    #  mqtt topic for home assistant discovery subscription
    homeassistant: homeassistant
    # mqtt topic where matches are published by name
    matches: double-take/matches
    # mqtt topic where matches ar

[2021-10-18 11:13] bliekp commented on #133
Oh, BTW, your Discord link does not work. Unable to subscribe.

[2021-10-19 03:37] jakowenko commented on #128
@miguelangel-nubla I'm going to close this since it seems to be working. Feel free to reopen if you run into any issues.

[2021-10-19 03:37] #128 closed

[2021-10-19 03:37] jakowenko commented on #127
I'm going to close this since `1.5.0` fixed the content type issue. Feel free to reopen if you run into problems with it.

[2021-10-19 03:37] #127 closed

[2021-10-19 05:50] jakowenko commented on #92
![2021-10-19 01 49 03](https://user-images.githubusercontent.com/1081811/137851278-1112229b-4c63-4760-9624-1dac5a22a0ce.gif)

Started to work on a crop tool.

[2021-10-19 16:01] Salvora opened #134 "[FEAT] Cannot connect multiple instances"
**Describe the bug**
I wanted to add another detector to the DT but when I add it, it loses all the connection of deepstack detectors.

config:
This is currently working.
[code]
But if I add another detector:
[code]
Both of them go down. Does it not support multiple detectors of the same type?
**Version of Double Take**
1.5.0

**Expected behavior**
It should connect at least one of them with no pr